        <a id="cart-icon" href="/shop/cart" class="<%- cart && cart.length ? 'visible' : '' %>">
            <i id="cart-img" class="fal fa-shopping-basket"></i> <span id="cart-item-count"><%- cart.length %></span>
        </a>
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-5 float-left" id="footer-links">
                    <a class="link" href="/shipping">Shipping & Delivery</a>
                    <a class="link" href="/contact">Contact Us</a>
                    <%_ if (!user) { _%>
                    <a class="link" href="/account/login">My Account</a>
                    <%_ } _%>
                    <a class="link" href="/faq">FAQs</a>
                    <a class="link" href="/reviews">Reviews</a>
                </div>
                <div class="col-7 float-left" id="accepted-cards">
                    <p>We accept the following payment methods:</p>
                    <div id="cards">
                        <i class="card-icon fab fa-cc-paypal"></i>
                        <i class="card-icon fab fa-cc-visa"></i>
                        <i class="card-icon fab fa-cc-mastercard"></i>
                        <i class="card-icon fab fa-cc-amex"></i>
                        <i class="card-icon fab fa-cc-discover"></i>
                        <i class="card-icon fab fa-cc-jcb"></i>
                    </div>
                </div>
            </div>
            <div id="copyright">
                <span>&copy; <%= new Date().getFullYear() %> COCOHONEY COSMETICS LTD.</span>
            </div>
        </div>
    </footer>
    <%_ if (production && location_origin === "https://cocohoneycosmetics.com" && !/admin/gi.test(url) && !is_admin) { _%>
    <!-- Default Statcounter code for Cocohoney Cosmetics
    website https://cocohoneycosmetics.com -->
    <script type="text/javascript">
    var sc_project=12406517; 
    var sc_invisible=1; 
    var sc_security="fed6073e"; 
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js"
    async></script>
    <noscript><div class="statcounter"><a title="web counter"
    href="https://statcounter.com/" target="_blank"><img
    class="statcounter"
    src="https://c.statcounter.com/12406517/0/fed6073e/1/"
    alt="web counter"></a></div></noscript>
    <!-- End of Statcounter Code -->
    <%_ } _%>
</body>
</html>
