        <div id="cart-icon" class="<%- cart && cart.length ? 'visible' : '' %>">
            <i id="cart-img" class="fas fa-shopping-basket"></i>
            <a id="cart-item-count"><%- cart.length %></a>
            <a id="cart-view-link" href="/shop/cart">VIEW CART</a>
        </div>
    </main>
    <footer>
        <div class="container" style="max-width: 900px;">
            <div class="row">
                <div class="col-sm-6 footer-links">
                    <a class="link" href="/shipping">Shipping</a>
                    <a class="link" href="/contact">Contact Us</a>
                    <a class="link" href="/account/login">My Account</a>
                    <a class="link" href="/faq">FAQs</a>
                </div>
                <div class="col-sm-6"></div>
            </div>
            <div class="row copyright" style="text-align: center">
                <div class="col-sm-12">&copy; <%= new Date().getFullYear() %> COCOHONEY COSMETICS</div>
            </div>
        </div>
    </footer>
</body>
</html>
