        <a id="cart-icon" href="/shop/cart" class="<%- cart && cart.length ? 'visible' : '' %>">
            <i id="cart-img" class="fal fa-shopping-basket"></i> <span id="cart-item-count"><%- cart.length %></span>
        </a>
    </main>
    <footer>
        <div class="container" style="max-width: 900px;">
            <div class="row">
                <div class="col-xs-5" id="footer-links">
                    <a class="link" href="/shipping">Shipping & Delivery</a>
                    <a class="link" href="/contact">Contact Us</a>
                    <%_ if (!user) { _%>
                    <a class="link" href="/account/login">My Account</a>
                    <%_ } _%>
                    <a class="link" href="/faq">FAQs</a>
                    <a class="link" href="/reviews">Reviews</a>
                </div>
                <div class="col-xs-7" id="accepted-cards">
                    <p>We accept the following card payment methods:</p>
                    <div id="cards">
                        <i class="card-icon fab fa-cc-paypal"></i>
                        <i class="card-icon fab fa-cc-visa"></i>
                        <i class="card-icon fab fa-cc-mastercard"></i>
                        <i class="card-icon fab fa-cc-amex"></i>
                        <i class="card-icon fab fa-cc-discover"></i>
                        <i class="card-icon fab fa-cc-jcb"></i>
                    </div>
                </div>
            </div>
            <div class="row" id="copyright">
                <div class="col-sm-12">&copy; <%= new Date().getFullYear() %> COCOHONEY COSMETICS</div>
            </div>
        </div>
    </footer>
</body>
</html>
