        <a id="cart-icon" href="/shop/cart" class="<%- cart.length ? 'visible' : '' %>">
            <i id="cart-img" class="fal fa-shopping-basket"></i> <span id="cart-item-count"><%- cart.length %></span>
        </a>
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-5 float-left" id="footer-links">
                    <a class="link" href="/shipping">Shipping & Delivery</a>
                    <a class="link" href="/contact">Contact Us</a>
                    <%_ if (!user) { _%>
                    <a class="link" href="/account/login">My Account</a>
                    <%_ } _%>
                    <a class="link" href="/faq">FAQs</a>
                    <a class="link" href="/reviews">Reviews</a>
                </div>
                <div class="col-7 float-left" id="accepted-cards">
                    <p>We accept the following payment methods:</p>
                    <div id="cards">
                        <i class="card-icon fab fa-cc-paypal"></i>
                        <i class="card-icon fab fa-cc-visa"></i>
                        <i class="card-icon fab fa-cc-mastercard"></i>
                        <i class="card-icon fab fa-cc-amex"></i>
                        <i class="card-icon fab fa-cc-discover"></i>
                        <i class="card-icon fab fa-cc-jcb"></i>
                    </div>
                </div>
            </div>
            <select name="" id="google_translator_custom">
                <option value="">Select language</option>
            </select>
            <div id="google_translator"></div>
            <div id="copyright">
                <span>&copy; <%= new Date().getFullYear() %> COCOHONEY COSMETICS LTD.</span>
            </div>
        </div>
    </footer>
    <script type="text/javascript">
        function translatorInit() {
            new google.translate.TranslateElement({
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                autoDisplay: false
            }, 'google_translator');
        }

        var langauges = ["English", "Afrikaans", "Albanian", "Amharic", "Arabic", "Armenian", "Azerbaijani", "Basque", "Belarusian", "Bengali", "Bosnian", "Bulgarian", "Catalan", "Cebuano", "Chichewa", "Chinese (Simplified)", "Chinese (Traditional)", "Corsican", "Croatian", "Czech", "Danish", "Dutch", "Esperanto", "Estonian", "Filipino", "Finnish", "French", "Frisian", "Galician", "Georgian", "German", "Greek", "Gujarati", "Haitian Creole", "Hausa", "Hawaiian", "Hebrew", "Hindi", "Hmong", "Hungarian", "Icelandic", "Igbo", "Indonesian", "Irish", "Italian", "Japanese", "Javanese", "Kannada", "Kazakh", "Khmer", "Kinyarwanda", "Korean", "Kurdish (Kurmanji)", "Kyrgyz", "Lao", "Latin", "Latvian", "Lithuanian", "Luxembourgish", "Macedonian", "Malagasy", "Malay", "Malayalam", "Maltese", "Maori", "Marathi", "Mongolian", "Myanmar (Burmese)", "Nepali", "Norwegian", "Odia (Oriya)", "Pashto", "Persian", "Polish", "Punjabi", "Romanian", "Russian", "Samoan", "Scots Gaelic", "Serbian", "Sesotho", "Shona", "Sindhi", "Sinhala", "Slovak", "Slovenian", "Somali", "Spanish", "Sundanese", "Swahili", "Swedish", "Tajik", "Tamil", "Tatar", "Telugu", "Thai", "Turkish", "Turkmen", "Ukrainian", "Urdu", "Uyghur", "Uzbek", "Vietnamese", "Welsh", "Xhosa", "Yiddish", "Yoruba", "Zulu", "English", "Afrikaans", "Albanian", "Amharic", "Arabic", "Armenian", "Azerbaijani", "Basque", "Belarusian", "Bengali", "Bosnian", "Bulgarian", "Catalan", "Cebuano", "Chichewa", "Chinese (Simplified)", "Chinese (Traditional)", "Corsican", "Croatian", "Czech", "Danish", "Dutch", "Esperanto", "Estonian", "Filipino", "Finnish", "French", "Frisian", "Galician", "Georgian", "German", "Greek", "Gujarati", "Haitian Creole", "Hausa", "Hawaiian", "Hebrew", "Hindi", "Hmong", "Hungarian", "Icelandic", "Igbo", "Indonesian", "Irish", "Italian", "Japanese", "Javanese", "Kannada", "Kazakh", "Khmer", "Kinyarwanda", "Korean", "Kurdish (Kurmanji)", "Kyrgyz", "Lao", "Latin", "Latvian", "Lithuanian", "Luxembourgish", "Macedonian", "Malagasy", "Malay", "Malayalam", "Maltese", "Maori", "Marathi", "Mongolian", "Myanmar (Burmese)", "Nepali", "Norwegian", "Odia (Oriya)", "Pashto", "Persian", "Polish", "Punjabi", "Romanian", "Russian", "Samoan", "Scots Gaelic", "Serbian", "Sesotho", "Shona", "Sindhi", "Sinhala", "Slovak", "Slovenian", "Somali", "Spanish", "Sundanese", "Swahili", "Swedish", "Tajik", "Tamil", "Tatar", "Telugu", "Thai", "Turkish", "Turkmen", "Ukrainian", "Urdu", "Uyghur", "Uzbek", "Vietnamese", "Welsh", "Xhosa", "Yiddish", "Yoruba", "Zulu"];
        var html = langauges.map(function(e) { return '<option value="'+ e +'">'+ e +'</option>' });
        $('#google_translator_custom').append(html).change(function(ev) {
            $("iframe").contents().find(".goog-te-menu2-item > div").filter(function(i,e) {
                return $(e).find(".text").text() === ev.target.value
            }).click()
        });

//        var observer = new MutationObserver(function(mutationsList, observer) {
//            console.log(observer);
//            // Use traditional 'for loops' for IE 11
//            for(var mutation of mutationsList) {
//                if (mutation.type === 'childList') {
//                    console.log('A child node has been added or removed.');
//                }
//                else if (mutation.type === 'attributes') {
//                    console.log('The ' + mutation.attributeName + ' attribute was modified.');
//                }
//            }
//        });
//        var targetNode = $('#google_translator_custom option').get(0);

//        Start observing the target node for configured mutations
//        observer.observe(targetNode, { attributes: true, childList: true, subtree: true });

//        Later, you can stop observing
//        observer.disconnect();
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=translatorInit"></script>
    <%_ if (production && location_origin === "https://cocohoneycosmetics.com" && !/admin/gi.test(url) && !is_admin) { _%>
    <!-- Default Statcounter code for Cocohoney Cosmetics
    website https://cocohoneycosmetics.com -->
    <script type="text/javascript">
    var sc_project=12406517; 
    var sc_invisible=1; 
    var sc_security="fed6073e"; 
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js"
    async></script>
    <noscript><div class="statcounter"><a title="web counter"
    href="https://statcounter.com/" target="_blank"><img
    class="statcounter"
    src="https://c.statcounter.com/12406517/0/fed6073e/1/"
    alt="web counter"></a></div></noscript>
    <!-- End of Statcounter Code -->
    <%_ } _%>
</body>
</html>
