<!DOCTYPE html>
<html lang="en" class="chc">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="">
    <title><%= typeof title != "undefined" && title ? title + " | " : "" %>COCOHONEY COSMETICS</title>
    <meta name="keywords" content="cosmetics, london, beauty, fashion">
    <meta name="description" content="Community, Beauty Network, Family">
    <meta name="robots" content="index, follow">

    <link rel="stylesheet" type="text/css" href="/css/defaults.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</head>

<body id="<%= typeof pagename != 'undefined' && pagename ? pagename+'-page' : '' %>">
    <div class="bg-underlay bg-body">
        <video playsinline autoplay muted loop><source src="https://res.cloudinary.com/natzen/video/upload/v1598991185/cocohoney/site-content/site-bg.mp4"></video>
    </div>

    <header>
        <div class="inner-header container">
            <div class="row">
                <div class="logo-section header-content-section col-xs-4">
                    <div id="chc-logo">
                        <a href="/">COCOHONEY COSMETICS</a>
                    </div>
                </div>
                <div class="nav-section header-content-section col-xs-4" style="text-align: center">
                    <div style="display: inline-block" id="nav-toggle">
                        <a class="fal fa-bars" style="font-size: 1.5em"></a>
                    </div>
                    <nav>
                        <a class="fal fa-times" id="nav-close-icon"></a>
                        <a class="link" href="/" style="margin-top: 5em">HOME</a>
                        <a class="link" href="/about">ABOUT US</a>
                        <a class="link sub-list-toggle">3D MINK EYELASHES</a>
                        <div class="sub-list">
                            <a class="link" href="/product/collection/lashes/original">ORIGINAL COLLECTION</a>
                            <a class="link" href="/product/collection/lashes/honey_drip">HONEY DRIP COLLECTION</a>
                            <a class="link" href="/product/collection/lashes/emerald">EMERALD COLLECTION</a>
                        </div>
                        <a class="link sub-list-toggle">MAKE UP PALETTES</a>
                        <div class="sub-list">
                            <a class="link" href="/product/palettes/magnetic">MAGNETIC PALLETE</a>
                        </div>
                        <a class="link sub-list-toggle">SETS & BUNDLES DEALS</a>
                        <div class="sub-list">
                            <a class="link" href="/product/deals/muse-box">MUSE</a>
                            <a class="link" href="/product/deals/lash-guru">LASH GURU</a>
                        </div>
                        <a class="link" href="/product/lipsticks">LIPSTICKS / LIPLINERS</a>
                        <a class="link" href="/events">EVENTS</a>
                        <a class="link sub-list-toggle">LOOKBOOK</a>
                        <div class="sub-list">
                            <a class="link" href="/lookbook/gallery">GALLERY</a>
                            <!-- <a class="link" href="/lookbook/tutorial">GALLERY</a> -->
                        </div>
                        <a class="link" href="/ambassador/account/login">AMBASSADOR LOG IN</a>
                    </nav>
                </div>
                <div class="socials-section header-content-section col-xs-4" style="text-align: right">
                    <a class="chc-social-link fab fa-instagram" href="https://www.instagram.com/cocohoney_cosmetics/"></a>
                </div>
            </div>
        </div>
        <div id="banner-1">
            <div class="slide" id="shipping-info">FREE delivery for all orders over £40</div>
            <div class="slide" id="slogan">Community &bull; Beauty Network &bull; Family</div>
        </div>
    </header>
    <main>
