<!DOCTYPE html>
<html lang="en" class="chc">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="">
    <title><%= typeof title != "undefined" && title ? title + " | " : "" %>COCOHONEY COSMETICS</title>
    <meta name="keywords" content="cosmetics, london, beauty, fashion">
    <meta name="description" content="Community, Beauty Network, Family">
    <meta name="robots" content="index, follow">

    <link rel="stylesheet" type="text/css" href="/css/defaults.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</head>

<body id="<%= typeof pagename != 'undefined' && pagename ? pagename+'-page' : '' %>">
    <div class="bg-underlay bg-body">
        <video playsinline autoplay muted loop><source src="/img/honey drip p1.mp4"></video>
    </div>

    <header>
        <div class="inner-header container">
            <div class="row">
                <div class="logo-section header-content-section col-xs-4">
                    <div id="chc-logo">
                        <a href="/">COCOHONEY COSMETICS</a>
                    </div>
                </div>
                <div class="nav-section header-content-section col-xs-4" style="text-align: center">
                    <div style="display: inline-block" id="nav-toggle">
                        <a class="fal fa-bars" style="font-size: 1.5em"></a>
                    </div>
                    <nav>
                        <a class="fal fa-times" id="nav-close-icon"></a>
                        <a class="link" href="/" style="margin-top: 5em">HOME</a>
                        <a class="link" href="/about">ABOUT US</a>
                        <a class="link sub-list-toggle">3D MINK EYELASHES</a>
                        <div class="sub-list">
                            <a class="link" href="/product/lashes/collection/original">ORIGINAL</a>
                            <a class="link" href="/product/lashes/collection/honey-drip">HONEY DRIP</a>
                            <a class="link" href="/product/lashes/collection/Emerald">EMERALD</a>
                        </div>
                        <a class="link sub-list-toggle">MAKE UP PALLETS</a>
                        <div class="sub-list">
                            <a class="link" href="/product/make-up-pallets/magnetic">MAGNETIC</a>
                        </div>
                        <a class="link" href="/product/lipsticks">LIPSTICKS / LIPLINERS</a>
                        <a class="link" href="/events">EVENTS</a>
                        <a class="link" href="/lookbook">LOOKBOOK</a>
                        <a class="link" href="/shipping">SHIPPING</a>
                    </nav>
                </div>
                <div class="socials-section header-content-section col-xs-4" style="text-align: right">
                    <a class="chc-social-link fab fa-instagram" style="font-size: 1.5em; margin-left: 10px" href="https://www.instagram.com/cocohoney_cosmetics/"></a>
                </div>
            </div>
        </div>
        <div id="banner-1">
            <div class="slide" id="shipping-info">FREE delivery for all orders over £40</div>
            <div class="slide" id="slogan">Community &bull; Beauty Network &bull; Family</div>
        </div>
    </header>
    <main>
