<%_ include partials/header _%>
    <section style="padding-top: 2em;">
        <div class="mb-view-md section-dropdown-options">
            <label>SELECT SECTION <i class="dropdown-arrow fal fa-chevron-down"></i></label>
            <select>
                <option value="#banner">BANNER SLIDES</option>
                <option value="#product">PRODUCTS</option>
                <option value="#discount_code">DISCOUNT CODES</option>
                <option value="#lookbook">LOOKBOOK UPLOAD</option>
                <option value="#faqs">FAQs</option>
                <option value="#shipping">SHIPPING METHODS</option>
                <option value="#box">BOX DEALS</option>
                <option value="/admin/mail/form">MAIL</option>
            </select>
        </div>
        <ul class="dt-view-md nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#banner">BANNER SLIDES</a></li>
            <li><a data-toggle="pill" href="#product">PRODUCTS</a></li>
            <li><a data-toggle="pill" href="#discount_code">DISCOUNT CODES</a></li>
            <li><a data-toggle="pill" href="#lookbook">LOOKBOOK UPLOAD</a></li>
            <li><a data-toggle="pill" href="#faqs">FAQs</a></li>
            <li><a data-toggle="pill" href="#shipping">SHIPPING METHODS</a></li>
            <li><a data-toggle="pill" href="#box">BOX DEALS</a></li>
            <li><a data-toggle="none" href="/admin/mail/form">MAIL</a></li>
        </ul>
        <div class="tab-content container">
            <div id="banner" class="tab-pane fade in active">
            <%_ include partials/admin/banner _%>
            </div>

            <div id="product" class="tab-pane fade">
            <%_ include partials/admin/product _%>
            </div>

            <div id="discount_code" class="tab-pane fade">
            <%_ include partials/admin/discount_code _%>
            </div>

            <div id="lookbook" class="tab-pane fade">
            <%_ include partials/admin/lookbook _%>
            </div>

            <div id="faqs" class="tab-pane fade">
            <%_ include partials/admin/faqs _%>
            </div>

            <div id="shipping" class="tab-pane fade">
            <%_ include partials/admin/shipping_method _%>
            </div>

            <div id="box" class="tab-pane fade">
            <%_ include partials/admin/box _%>
            </div>
        </div>
    </section>
    <script>
        var readDataURLs = function(files, cb) {
            $.each(files, function(i, file) {
                var reader = new FileReader();
                reader.onload = cb;
                reader.readAsDataURL(file)
            });
        };
        var showMessage = function(result) {
            var reload = confirm(result + "\n\nRefresh page?");
            if (reload) location.reload();
        };

        $("#headline_images, #headline_images_change").change(function() {
            var $form = $(this).closest("form");
            var files = this.files;
            var $thumb_choice = $form.find(".headline-image-thumb-choice");
            $thumb_choice.find("input").off("change").end().empty().hide();
            $form.find(".headline-image-data").empty();
            if (files.length) {
                var $submitInput = $form.children("input:submit");
                var counter = 0;
                var label = "<label>CHOOSE ARTICLE THUMBNAIL</label>";
                $submitInput.attr("disabled", true);
                $thumb_choice.show().append(label);
                readDataURLs(files, function(e) {
                    var url = e.target.result;
                    var name = "headline_image_thumb";
                    var $input = $("<input>").attr({ type: "radio", name, value: url, required: true });
                    var $img = $("<img>").attr({ src: url });
                    $form.find(".headline-image-data").append( $("<input>").attr({ type: "hidden", name: "headline_images" }).val(url) );
                    $thumb_choice.append($input.add($img));
                    counter += 1;
                    if (counter === files.length) $submitInput.attr("disabled", false);
                });
            }
        });

        $("#textbody, #textbody_edit").keyup(function() {
            var textbody = this;
            var $tbm_container = $(this).closest("form").find(".textbody_media");
            var spots = textbody.value.match(/^x$/gim) || [];
            var current_values = $tbm_container.find("input:text").map(function() { return this.value }).get();
            if ($tbm_container.html()) $tbm_container.empty();
            if (spots.length) {
                spots.forEach(function(spot, i) {
                    var $fileInput = $("<input>").attr({ class: "input-"+i, type: "file", id: "upload-"+i }).css({ display: "initial", width: "auto" });
                    var $clearUploadsButton = $("<button>").attr({ class: "clear-uploads", "data-id": "upload-"+i, type: "button" }).text("CLEAR FILE UPLOAD");
                    var $textInput = $("<input>").attr({ class: "input-"+i, type: "text", name: "textbody_media", required: true, placeholder: "...or enter image URL or embed code" });
                    $fileInput.add($clearUploadsButton).add($textInput.val(current_values[i])).appendTo($tbm_container);
                });

                $tbm_container.find("input:file").change(function() {
                    var files = this.files;
                    var $textInput = $(this).nextAll("input:text." + this.className);
                    var filesPresent = Boolean(files && files.length);
                    $textInput.val(filesPresent ? "N/A" : "").attr("disabled", false).next(":hidden").remove();
                    if (filesPresent) {
                        readDataURLs(files, function(e) {
                            $textInput.val("N/A").attr("disabled", true).after($("<input>").attr({ type: "hidden", name: "textbody_media", value: e.target.result }));
                        });
                    }
                }).end().find(".clear-uploads").click(function(e) {
                    e.preventDefault(); $tbm_container.find(":file#"+this.dataset.id).val("").change()
                });
            }
        });
        $(".clear-uploads").click(function(e) {
            e.preventDefault();
            $("#"+this.dataset.id).val("").change();
        });

        $(":input[id*=all_platforms]").change(function() {
            $(this).closest("form").find(".link-item").not(":first").remove()
                   .end().find(":input[type=url]").val("").attr({ required: !this.checked })
                   .end().find(":input").attr({ disabled: this.checked })
        });

        $(".file-upload-container :file").change(function() {
            var files = this.files;
            var $image_data = $(this).closest(".file-upload-container").find(":hidden").val("");
            var $image_url = $(this).closest(".file-upload-container").find("input[type=url]").attr("disabled", false).val("");
            if (files && files.length) {
                var $submitInput = $(this).closest("form").children("input:submit").attr("disabled", true);
                readDataURLs(files, function(e) {
                    $image_data.val(e.target.result);
                    $image_url.attr("disabled", true).val(files[0].name);
                    $submitInput.attr("disabled", false);
                });
            }
        });
        $(".file-upload-container .add-remove-control button").click(function(e) {
            var $container = $(this).closest(".file-upload-container");
            var $form = $($container).closest("form");
            var suffix = Date.now();
            switch (this.className) {
                case "add":
                    $container.clone(true)
                    .find(":file").attr("id", "lookbook-media-file-"+ suffix +"").end()
                    .find(".clear-uploads").attr("data-id", "lookbook-media-file-"+ suffix +"").end()
                    .find(":input").attr("disabled", false).not("button").val("").end().end()
                    .insertAfter($container);
                    break;
                case "remove":
                    if ($form.find(".file-upload-container").length > 1) $container.remove();
                    break;
            }
        });

       $("fieldset .input-item :input").on("change keyup", function() {
            var $groupInputs = $(this).closest(".input-item").find(":input");
            var notEmpty = $groupInputs.filter(function() { return this.value }).length > 0;
            $groupInputs.attr("required", notEmpty);
        });

        $.post("/admin/search", function(docs) {
            $(".edit-form-tab select[id*='_id']").change(function() {
                var $form = $(this).closest("form");
                var id = this.value;
                var result = (docs || []).filter(function(item) { return id == item._id })[0] || {};
                $form.find(".clear-uploads").click();

                $form.find("#product_name_edit").val(result.name);
                $form.find("#price_edit").val(parseFloat(result.price) / 100);
                $form.find("#price_amb_edit").val(parseFloat(result.price_amb) / 100);
                $form.find("#stock_qty_edit").val(result.stock_qty);
                $form.find("#product_category_edit").val(result.category);
                $form.find("#product_collection_edit").val(result.product_collection);
                $form.find("#product_info_edit").val(result.info);

                $form.find("#banner_text_edit").val(result.text);

                $form.find("#discount_code_value_edit").val(result.code);
                $form.find("#discount_percentage_edit").val(result.percentage);
                $form.find("#discount_code_expiry_date_edit").val(result.expiry_date ? new Date(result.expiry_date).toISOString().slice(0, 10) : "");

                $form.find("#question_edit").val(result.question);
                $form.find("#answer_edit").val(result.answer);

                $form.find("#method_name_edit").val(result.name);
                $form.find("#method_fee_edit").val(parseFloat(result.fee) / 100);
                $form.find("#method_info_edit").val(result.info);

                $form.find("#box_name_edit").val(result.name);
                $form.find("#box_price_edit").val(parseFloat(result.price) / 100);
                $form.find("#box_max_items_edit").val(result.max_items);
                $form.find("#box_info_edit").val(result.info);
            });
        });

        $(".text-emphasis-styles > button").click(function(e) {
            e.preventDefault();
            var $textarea = $("#"+this.parentNode.dataset.id);
            var value = $textarea.val();
            var selectionStart = $textarea.prop("selectionStart");
            var selectionEnd = $textarea.prop("selectionEnd");
            var selection = value.slice(selectionStart, selectionEnd);
            var before = value.slice(0, selectionStart);
            var after = value.slice(selectionEnd, value.length);
            var em = this.firstChild.tagName.toLowerCase();
            if (selection.length) $textarea.val( before + "<"+em+">" + selection +"</"+em+">" + after );
            $textarea.get(0).focus();
        });

        $(".section-dropdown-options select").change(function() {
            $(".nav-pills a[href='"+ this.value +"']").get(0).click()
        });

        $("#homepage_image_file").change(function() {
            var $form = $(this).closest("form");
            var files = this.files;
            $form.find("#homepage_image_filename").val(files && files.length ? files[0].name.replace(/\.[a-zA-Z0-9]{3,4}$/gi, "") : "");
        });

        $(".new-form-tab form, .edit-form-tab form").submit(function(e) {
            e.preventDefault();
            var form = this;
            var btnController = new submitBtnController(form);

            $.post(form.action, $(form).serializeArray(), function(result) {
                showMessage(result);
                $(form).find(".clear-uploads").click();
                form.reset();
            }).fail(function(err, status, codeMessage) {
                alert(codeMessage + (err ? ": " + err.responseText : ""));
            }).always(function() {
                btnController.finish();
            });
        });

        $(".remove-form-tab form").submit(function(e) {
            e.preventDefault();
            var form = this;
            var data = $(form).serializeArray();
            var btnController = new submitBtnController(form);

            $.post(form.action, data, function(result) {
                showMessage(result);
                $(form).find(":input:checked, :input:checked + span, :input:checked + span + br").slideUp(function() {
                    $(this).remove();
                    data.forEach(function(field) { $("option[value="+ field.value +"]").remove() });
                });
            }).fail(function(err, status, codeMessage) {
                alert(codeMessage + (err ? ": " + err.responseText : ""));
            }).always(function() {
                btnController.finish();
            });
        });
    </script>
<%_ include partials/footer _%>
