<%- include ('partials/header') -%>
    <div class="form-container">
        <form method="post" action="/admin/login">
            <label>PASSWORD</label>
            <input type="password" name="password" id="password" required>
            <input type="submit" value="LOG IN">
        </form>
    </div>
    <script>
        $("form").submit(function(e) {
            e.preventDefault();
            var btnController = new submitBtnController(this);
            $.post(this.action, $(this).serializeArray(), function(result) {
                e.target.reset();
                location.href = result;
            }).fail(function(err) {
                alert(err.responseText);
            }).always(function() {
                btnController.finish();
            });
        });
    </script>
<%- include ('partials/footer') -%>
