<%_ include partials/header _%>
    <div class="form-container">
        <form method="post" action="/admin/activate/<%- token %>">
            <label>NEW PASSWORD</label>
            <input type="password" name="password" id="password" required>
            <label>CONFIRM PASSWORD</label>
            <input type="password" name="password_confirm" id="password_confirm" required>
            <input type="submit" value="SUBMIT">
        </form>
    </div>
    <script>
        $("form").submit(function(e) {
            e.preventDefault();
            var btnController = new submitBtnController(this);
            $.post(this.action, $(this).serializeArray(), function(result) {
                e.target.reset();
                location.href = result;
            }).fail(function(err) {
                alert(err.responseText);
            }).always(function() {
                btnController.finish();
            });
        });
    </script>
<%_ include partials/footer _%>
