<%_ include partials/header _%>
    <div class="form-container">
        <form method="post" action="/ambassador/register/activate">
            <fieldset>
                <legend>ACTIVATE AMBASSADOR ACCOUNT</legend>

                <label>CREATE NEW PASSWORD</label>
                <input type="password" name="password" id="password" required>

                <label>CONFIRM NEW PASSWORD</label>
                <input type="password" name="password_confirm" id="password_confirm" required>

                <input type="hidden" name="id" value="<%- id %>" required>
                <input type="submit" value="ACTIVATE ACCOUNT">
            </fieldset>
        </form>
    </div>
    <script>
        $("form").submit(function(e) {
            e.preventDefault();
            var btnController = new submitBtnController(this);
            $.post(this.action, $(this).serializeArray(), function(result) {
                alert(result);
                e.target.reset();
            }).fail(function(err) {
                alert(err.responseText);
            }).always(function() {
                btnController.finish();
            });
        });
    </script>
<%_ include partials/footer _%>