<%- include ('partials/header') -%>
    <div class="form-container">
        <form method="post" action="/ambassador/register">
            <fieldset>
                <legend>AMBASSADOR REGISTER</legend>

                <span class="note">Already have an account? <a href="/ambassador/account/login">Log in here</a></span>

                <fieldset>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>FIRST NAME</label>
                            <input type="text" name="firstname" id="firstname" required>
                        </div>
                        <div class="col-sm-6">
                            <label>LAST NAME</label>
                            <input type="text" name="lastname" id="lastname" required>
                        </div>
                    </div>
                </fieldset>
            
                <label>EMAIL</label>
                <input type="email" name="email" id="email" required>

                <label>PHONE NUMBER</label>
                <input type="tel" name="phone_number" id="phone_number" pattern="[0-9]{11}" required>

                <label>INSTAGRAM HANDLE</label>
                <input type="text" name="instagram" id="instagram" required>

                <label>PROFILE PICTURE</label>
                <fieldset class="file-upload-container">
                    <div class="row">
                        <div class="col-sm-6 col-xs-9"><input type="file" id="profile_picture_file" accept=".jpg,.jpeg,.png,.bmp"></div>
                        <input type="hidden" name="image_file">
                        <div class="col-sm-6 col-xs-3"><button type="button" class="clear-uploads" data-id="profile_picture_file">CLEAR</button></div>
                        <div class="col-sm-12"><input type="url" name="image_url" id="profile_picture_url" placeholder="Or paste the image URL"></div>
                    </div>
                </fieldset>

                <input type="submit" value="SIGN UP">
            </fieldset>
        </form>
    </div>
    <script>
        $("form").submit(function(e) {
            e.preventDefault();
            var btnController = new submitBtnController(this);
            $.post(this.action, $(this).serializeArray(), function(result) {
                alert(result);
                e.target.reset();
            }).fail(function(err) {
                alert(err.responseText);
            }).always(function() {
                btnController.finish();
            });
        });
    </script>
<%- include ('partials/footer') -%>