<%- include ('partials/header') -%>
    <div class="form-container">
        <form method="post" action="/ambassador/register">
            <fieldset>
                <legend>AMBASSADOR REGISTER</legend>

                <span class="note">Already have an account? <a href="/ambassador/account/login">Log in here</a></span>

                <label>PROFILE PICTURE <span>(OPTIONAL)</span></label>
                <fieldset class="file-upload-container">
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="profile_picture_file" accept="image/*" data-fieldname="image_file">
                            <label class="custom-file-label">Upload profile picture</label>
                        </div>
                        <input type="hidden" name="image_file">
                        <div class="input-group-append">
                            <button class="clear-uploads btn" type="button" data-id="profile_picture_file">CLEAR</button>
                        </div>
                    </div>
                    <input type="url" name="image_url" id="profile_picture_url" placeholder="Or paste the image URL">
                </fieldset>

                <fieldset>
                    <div class="row">
                        <div class="col-sm-6 float-left">
                            <label>FIRST NAME</label>
                            <input type="text" name="firstname" id="firstname" required>
                        </div>
                        <div class="col-sm-6 float-left">
                            <label>LAST NAME</label>
                            <input type="text" name="lastname" id="lastname" required>
                        </div>
                    </div>
                </fieldset>
            
                <label>EMAIL</label>
                <input type="email" name="email" id="email" required>

                <label>PHONE NUMBER</label>
                <input type="tel" name="phone_number" id="phone_number" required>

                <label>INSTAGRAM HANDLE</label>
                <input type="text" name="instagram" id="instagram" placeholder="@instagram_handle" required>

                <label>ADDRESS</label>
                <input type="text" name="line1" id="address_line1" placeholder="LINE 1" required>
                <input type="text" name="line2" id="address_line2" placeholder="LINE 2 (OPTIONAL)">

                <fieldset>
                    <div class="row">
                        <div class="col-sm-6 float-left">
                            <label for="city">CITY</label>
                            <input type="text" name="city" required>
                        </div>
                        <div class="col-sm-6 float-left">
                            <label for="state">STATE <span>/ COUNTY / REGION</span></label>
                            <input type="text" name="state" placeholder="(OPTIONAL)">
                        </div>
                        <div class="col-sm-6 float-left">
                            <label for="country">COUNTRY <i class="dropdown-arrow fal fa-chevron-down"></i></label>
                            <select name="country" required>
                                <option value="">-</option>
                                <%_ for (var k in countries) { _%>
                                <option value="<%- k %>"><%- countries[k] %></option>
                                <%_ } _%>
                            </select>
                        </div>
                        <div class="col-sm-6 float-left">
                            <label for="postcode">POST <span>/ ZIP CODE</span></label>
                            <input type="text" name="postcode" required>
                        </div>
                    </div>
                </fieldset>

                <input type="submit" value="SIGN UP">
            </fieldset>
        </form>
    </div>
    <script>
        $("form").submit(function(e) {
            e.preventDefault();
            var btnController = new submitBtnController(this);
            $.post(this.action, $(this).serializeArray(), function(result) {
                alert(result);
                e.target.reset();
            }).fail(function(err) {
                alert(err.responseText);
            }).always(function() {
                btnController.finish();
            });
        });
    </script>
<%- include ('partials/footer') -%>