<%- include ('partials/header') -%>
    <div class="form-container">
        <form method="post" action="/ambassador/account/login">
            <fieldset>
                <legend>AMBASSADOR LOG IN</legend>

                <span class="note">Don't have an account? <a href="/ambassador/register">Sign up here</a></span>

                <label>EMAIL</label>
                <input type="email" name="email" id="email" required>

                <label>PASSWORD </label>
                <input type="password" name="password" id="password" required>
                <small>Forgot your password? <a href="/ambassador/password-reset-request">Click here to reset</a></small>

                <input type="submit" value="LOG IN">
            </fieldset>
        </form>
    </div>
    <script>
        $("form").submit(function(e) {
            e.preventDefault();
            var btnController = new submitBtnController(this);
            $.post(this.action, $(this).serializeArray(), function(result) {
                location.href = result;
            }).fail(function(err) {
                btnController.finish();
                Alert(err.responseText);
            });
        });
    </script>
<%- include ('partials/footer') -%>