<%- include ('partials/header') -%>
    <div class="form-container">
        <form method="post" action="/ambassador/discount_code/add">
            <fieldset>
                <legend>ADD AMBASSADOR DISCOUNT CODE</legend>

                <label>CODE</label>
                <input type="text" name="code" id="code" required>

                <input type="hidden" name="id" value="<%- id %>" required>
                <input type="submit" value="ADD CODE">
            </fieldset>
        </form>
    </div>
    <script>
        $("form").submit(function(e) {
            e.preventDefault();
            var btnController = new submitBtnController(this);
            $.post(this.action, $(this).serializeArray(), function(result) {
                Alert(result);
                e.target.reset();
            }).fail(function(err) {
                Alert(err.responseText);
            }).always(function() {
                btnController.finish();
            });
        });
    </script>
<%- include ('partials/footer') -%>