<%- include ('partials/header') -%>
    <section>
        <div class="container" style="margin-top: 5em; text-align: center; font-weight: 400">
            <h1>Payment Cancelled</h1>
            <p>Continue shopping or return to <a style="text-decoration: underline" href="/shop/checkout">checkout</a>.</p>
        </div>
    </section>
<%- include ('partials/footer') -%>
