<%_ include partials/header _%>
    <%_ include partials/stripe-checkout-css _%>
    <div id="payment-form-container" style="margin-top: 2em">
        <div class="content container">
            <form id="payment-details-form" action="/shop/checkout/payment-intent/create">
                <div class="input-group row" style="display: block">
                    <div class="col-sm-6">
                        <label for="firstname">FIRST NAME</label>
                        <input type="text" name="firstname" id="firstname" required>
                    </div>
                    <div class="col-sm-6">
                        <label for="lastname">LAST NAME</label>
                        <input type="text" name="lastname" id="lastname" required>
                    </div>
                </div>
                <label for="email">EMAIL</label>
                <input type="email" name="email" id="email" required>
                <label for="address_l1">ADDRESS</label>
                <input type="text" name="address_l1" id="address_l1" placeholder="LINE 1" required>
                <input type="text" name="address_l2" id="address_l2" placeholder="LINE 2 (OPTIONAL)">
                <div class="input-group row" style="display: block">
                    <div class="col-sm-4">
                        <label for="city">CITY</label>
                        <input type="text" name="city" id="city" required>
                    </div>
                    <div class="col-sm-4">
                        <label for="country">COUNTRY <i class="dropdown-arrow fal fa-chevron-down"></i></label>
                        <select name="country" id="country" required>
                            <option value="">-</option>
                            <%_ for (var k in countries) { _%>
                            <option value="<%- k %>"><%- countries[k] %></option>
                            <%_ } _%>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label for="postcode">POST / ZIP CODE</label>
                        <input type="text" name="postcode" id="postcode" required>
                    </div>
                </div>
                <br>
                <input type="radio" name="shipping_fee" id="standard" value="Standard">Standard (£2.99, 2-5 Days)<br>
                <input type="radio" name="shipping_fee" id="firstclass1" value="First Class">First Class (£3.55, 1-2 Days - UK only)<br>
                <input type="radio" name="shipping_fee" id="firstclass2" value="First Class Next Day">First Class Next Day (£4.99, UK only)<br>
                <input type="radio" name="shipping_fee" id="worldwide" value="Worldwide">Worldwide (£8.99)<br><br><br>
                <input type="submit" value="CONTINUE TO PAYMENT">
            </form>

            <form class="minimal" id="payment-form" style="display: none; margin-top: 2em">
                <label for="card-element">ENTER PAYMENT DETAILS</label>
                <div id="card-element"></div>
                <input type="submit" id="submit-payment-btn" value="PAY">

                <p id="card-error" role="alert"></p>
            </form>
        </div>
    </div>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        window.onbeforeunload = function() { return true };
        $("#country").change(function() {
            
        });

        $("#payment-details-form").submit(function(e) {
            e.preventDefault();
            var btnControl = new submitBtnController(this);
            $.post(this.action, $(this).serializeArray(), function(data) {
                var stripe = Stripe(data.pk);
                $("input", e.target).attr("disabled", true).filter(":submit").remove();
                $("#submit-payment-btn").attr("disabled", true);
                $("#payment-form").show(0, function() {
                    $("html, body").animate({ scrollTop: $(this).offset().top - 100 });
                    var card = stripe.elements().create("card", { style: {
                        base: { // input fields
                            color: "#32325d",
                            fontFamily: 'Arial, sans-serif',
                            fontSmoothing: "antialiased",
                            fontSize: "16px",
                            "::placeholder": { color: "#32325d" }
                        },
                        invalid: { // input fields (invalid)
                            fontFamily: 'Arial, sans-serif',
                            color: "#fa755a",
                            iconColor: "#fa755a"
                        }
                    }});
                    card.mount("#card-element"); // Stripe injects an iframe into the DOM
                    card.on("change", function(e) {
                        // Disable the Pay button if there are no card details in the Element
                        $("#submit-payment-btn").attr("disabled", e.empty);
                        $("#card-error").prop("textContent", e.error ? e.error.message : "");
                    });
                    btnControl.finish();

                    $("#payment-form").submit(function(e) {
                        e.preventDefault();
                        // Complete payment when the submit button is clicked
                        var btnControl = new submitBtnController(this);
                        $("#submit-payment-btn").attr("disabled", true);
                        stripe.confirmCardPayment(data.clientSecret, { payment_method: { card } }).then(function(res) {
                            $("#submit-payment-btn").attr("disabled", false);
                            if (res.error) return btnControl.finish(), showError(res.error.message);
                            window.onbeforeunload = null;
                            $("#cart-item-count").text(0);
                            $.post("/shop/checkout/payment-intent/complete").fail(function(err, status, codeMessage) {
                                console.log(codeMessage + (err ? ": " + err.responseText : ""));
                            }).always(function() {
                                btnControl.finish();
                                $("html, body").animate({ scrollTop: 0 }, function() {
                                    $("#payment-form-container form").fadeOut(function() {
                                        var css = { display: "none", marginTop: "5em", textAlign: "center", fontWeight: 400 };
                                        var msg = "Payment succeeded!<br><br>A reciept has been forwarded to your email address.<br><br>Thank you for your purchase!";
                                        $(".content").html($("<p>").css(css).html(msg).get(0).outerHTML).children().fadeIn();
                                    });
                                });
                            });
                        });
                    });
                });
            }).fail(function(err, status, codeMessage) {
                btnControl.finish();
                alert(codeMessage + (err ? ": " + err.responseText : ""));
            });

            var showError = function(errorMsgText) {
                // Show the customer the error from Stripe if their card fails to charge
                var errorMsg = $("#card-error").get(0);
                errorMsg.textContent = errorMsgText;
                setTimeout(function() { errorMsg.textContent = "" }, 4000);
            };
        })
    </script>
<%_ include partials/footer _%>