<%_ include partials/header _%>
    <section>
        <div class="container" style="text-align: center;">
            <h1>SORRY, SOMETHING WENT WRONG</h1>
            <p><%- error.replace(/\r?\n/, "<br>") %></p>
        </div>
    </section>
<%_ include partials/footer _%>
