<%_ include partials/header _%>
    <section>
        <div class="container" style="margin-top: 5em; text-align: center; font-weight: 400">
            <h1>Payment Successful</h1>
            <p>A reciept has been forwarded to your email address.</p>
            <p>Thank you for your purchase!</p>
        </div>
    </section>
<%_ include partials/footer _%>
