<%- include ('partials/header') -%>
    <section>
        <div class="container" style="text-align: center;">
            <h1>SORRY, SOMETHING WENT WRONG</h1>
            <p><%- error.replace(/\r?\n/, "<br>") %></p>
        </div>
    </section>
<%- include ('partials/footer') -%>
