<%_ include partials/header _%>
    <div class="form-container">
        <form method="post" action="/contact/mail/send">
            <fieldset>
                <legend>CONTACT US</legend>

                <fieldset>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>FIRST NAME</label>
                            <input type="text" name="firstname" id="firstname" required>
                        </div>
                        <div class="col-sm-6">
                            <label>LAST NAME</label>
                            <input type="text" name="lastname" id="lastname" required>
                        </div>
                    </div>
                </fieldset>

                <label>EMAIL</label>
                <input type="email" name="email" id="email" required>

                <label>MESSAGE</label>
                <textarea name="message" rows="10" required></textarea>

                <input type="submit" value="SEND">
            </fieldset>
        </form>
    </div>
    <script>
        $("form").submit(function(e) {
            e.preventDefault();
            var btnController = new submitBtnController(this);
            $.post(this.action, $(this).serializeArray(), function(result) {
                alert(result);
                e.target.reset();
            }).fail(function(err) {
                alert(err.responseText);
            }).always(function() {
                btnController.finish();
            });
        });
    </script>
<%_ include partials/footer _%>