<%- include ('partials/header') -%>
    <div class="form-container">
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#login">LOG IN</a></li>
            <li><a data-toggle="pill" href="#signup">SIGN UP</a></li>
        </ul>

        <div class="tab-content container">
            <div id="login" class="tab-pane fade in active">
                <form method="post" action="/account/login">
                    <fieldset>
                        <legend>LOG IN</legend>

                        <label>EMAIL</label>
                        <input type="email" name="email" id="email" required>

                        <label>PASSWORD</label>
                        <input type="password" name="password" id="password" required>

                        <input type="submit" value="LOG IN">
                    </fieldset>
                </form>
            </div>
            <div id="signup" class="tab-pane fade">
                <form method="post" action="/account/signup">
                    <fieldset>
                        <legend>SIGN UP</legend>

                        <fieldset>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>FIRST NAME</label>
                                    <input type="text" name="firstname" id="firstname" required>
                                </div>
                                <div class="col-sm-6">
                                    <label>LAST NAME</label>
                                    <input type="text" name="lastname" id="lastname" required>
                                </div>
                            </div>
                        </fieldset>

                        <label>PHONE NUMBER <span>(OPTIONAL)</span></label>
                        <input type="tel" name="phone_number" id="phone_number" pattern="[0-9]{11}">

                        <label>EMAIL</label>
                        <input type="email" name="email" id="email" required>

                        <label>NEW PASSWORD</label>
                        <input type="password" name="password" id="password_new" required>

                        <label>CONFIRM NEW PASSWORD</label>
                        <input type="password" name="password_confirm" id="password_confirm" required>

                        <input type="submit" value="SIGN UP">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <script>
        $("form").submit(function(e) {
            e.preventDefault();
            var btnController = new submitBtnController(this);
            $.post(this.action, $(this).serializeArray(), function(result) {
                alert(result);
                e.target.reset();
                if (e.target.action.includes("/account/login")) location.href = result;
            }).fail(function(err) {
                alert(err.responseText);
            }).always(function() {
                btnController.finish();
            });
        });
    </script>
<%- include ('partials/footer') -%>