<%- include ('partials/header') -%>
    <div class="form-container">
        <div class="nav nav-pills justify-content-center">
            <a class="nav-link active" data-toggle="pill" href="#login">LOG IN</a>
            <a class="nav-link" data-toggle="pill" href="#signup">SIGN UP</a>
        </div>

        <div class="tab-content container">
            <div id="login" class="tab-pane fade show active">
                <form method="post" action="/account/login">
                    <fieldset>
                        <legend>LOG IN</legend>
                        <span class="note">
                            Trying to log in as an ambassador? <a class="note-link" href="/ambassador/account/login">Click here</a>
                        </span>

                        <label>EMAIL</label>
                        <input type="email" name="email" id="email" required>

                        <label>PASSWORD</label>
                        <input type="password" name="password" id="password" required>
                        <small>Forgot your password? <a href="/account/password-reset-request">Click here to reset</a></small>

                        <input type="submit" value="LOG IN">
                    </fieldset>
                </form>
            </div>

            <div id="signup" class="tab-pane fade">
                <form method="post" action="/account/signup">
                    <fieldset>
                        <legend>SIGN UP</legend>
                        <span class="note">
                            Want to sign up as an ambassador instead? <a class="note-link" href="/ambassador/register">Click here</a>
                        </span>

                        <fieldset>
                            <div class="row">
                                <div class="col-sm-6 float-left">
                                    <label>FIRST NAME</label>
                                    <input type="text" name="firstname" id="firstname" required>
                                </div>
                                <div class="col-sm-6 float-left">
                                    <label>LAST NAME</label>
                                    <input type="text" name="lastname" id="lastname" required>
                                </div>
                            </div>
                        </fieldset>

                        <label>PHONE NUMBER <span>(OPTIONAL)</span></label>
                        <input type="tel" name="phone_number" id="phone_number">

                        <label>EMAIL</label>
                        <input type="email" name="email_new" id="email_new" required>

                        <label>NEW PASSWORD</label>
                        <input type="password" name="password_new" id="password_new" required>

                        <label>CONFIRM NEW PASSWORD</label>
                        <input type="password" name="password_confirm" id="password_confirm" required>

                        <input type="submit" value="SIGN UP">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(".note-link").each(function() {
            var href = $(this).attr("href");
            var $form = $(this).closest("form");
            $(this).attr("href", href + location.search);
            !location.search || $form.append($("<input>").attr({ type: "hidden", name: "qs", value: location.search.slice(1) }));
        });
        var href = $("nav a[href='/ambassador/account/login']").attr("href");
        $("nav a[href='/ambassador/account/login']").attr("href", href + location.search);

        $("form").submit(function(e) {
            e.preventDefault();
            var btnController = new submitBtnController(this);
            $.post(this.action, $(this).serializeArray(), function(result) {
                e.target.reset();
                if (e.target.action.includes("/account/login")) location.href = result
                else alert(result);
            }).fail(function(err) {
                alert(err.responseText);
            }).always(function() {
                btnController.finish();
            });
        });
    </script>
<%- include ('partials/footer') -%>