<%_ include partials/header _%>
    <div class="form-container">
        <form method="post" action="/reviews/submit">
            <fieldset>
                <legend>SUBMIT A REVIEW</legend>

                <%_ if (!user) { _%>
                <label>YOUR NAME</label>
                <input type="text" name="author_name" required>

                <%_ } _%>
                <label>HEADLINE <span>(OPTIONAL)</span></label>
                <input type="text" name="headline">

                <label>RATING</label>
                <fieldset class="star-rating">
                    <%_ for(i = 1; i <= 5; i++) { _%>
                    <div class="col-xs-1 star">★<input type="radio" name="rating" value="<%= i %>" required></div>
                    <%_ } _%>
                </fieldset>

                <label>YOUR COMMENT</label>
                <textarea name="commentry" rows="10" required></textarea>

                <label>PHOTOS <span>(OPTIONAL)</span></label>
                <fieldset class="file-upload-container">
                    <div class="row">
                        <div class="col-sm-6 col-xs-9"><input type="file" id="review_image_file" accept=".jpg,.jpeg,.png,.bmp" multiple></div>
                        <input type="hidden" name="image_file">
                        <div class="col-sm-6 col-xs-3"><button type="button" class="clear-uploads" data-id="review_image_file">CLEAR</button></div>
                        <div class="col-sm-12"><input type="url" name="image_url" id="review_image_url" placeholder="Or enter the image URL"></div>
                    </div>
                </fieldset>

                <input type="submit" value="SUBMIT">
            </fieldset>
        </form>
    </div>
    <script>
        $(".star-rating input").change(function(e) {
            $(".star").each(function(i) {
                $(this).css("color", i < e.target.value ? "rgb(240, 230, 140)" : "");
            });
        });

        $("form").submit(function(e) {
            e.preventDefault();
            var btnController = new submitBtnController(this);
            $.post(this.action, $(this).serializeArray(), function(result) {
                alert(result);
                e.target.reset();
            }).fail(function(err) {
                alert(err.responseText);
            }).always(function() {
                btnController.finish();
            });
        });
    </script>
<%_ include partials/footer _%>