<%- include ('partials/header') -%>
    <section>
        <div class="container" style="text-align: center;">
            <%- html %>
        </div>
    </section>
<%- include ('partials/footer') -%>
