<%_ include partials/header _%>
        <div id="loadscreen">
            <div class="content">
                <div class="spinner-wrapper">
                    <div class="spinner"></div>
                </div>
            </div>
        </div>
        <section id="overview">
            <div class="bg-layer bg-reel">
                <div class="bg-img" style="background-image: url('https://res.cloudinary.com/natzen/image/upload/v1598991658/cocohoney/site-content/pages/index/overview/IMG_2567.jpg');"></div>
                <div class="bg-img" style="background-image: url('https://res.cloudinary.com/natzen/image/upload/v1598991676/cocohoney/site-content/pages/index/overview/IMG_8920.jpg');"></div>
                <div class="bg-img" style="background-image: url('https://res.cloudinary.com/natzen/image/upload/v1598991711/cocohoney/site-content/pages/index/overview/IMG_2635.jpg');"></div>
                <div class="bg-img" style="background-image: url('https://res.cloudinary.com/natzen/image/upload/v1598991752/cocohoney/site-content/pages/index/overview/E5513162-F7B8-42B0-B75C-3015F0816DE6.jpg');"></div>
                <div class="bg-img" style="background-image: url('https://res.cloudinary.com/natzen/image/upload/v1598991814/cocohoney/site-content/pages/index/overview/B5743962-1592-4AF1-87B0-F0A71F46A683.jpg');"></div>
            </div>
        </section>
        <style> @media (max-width: 767px) { #storefront { margin-top: -30px; } } </style>
        <section id="storefront" class="section-overlapped">
            <div class="content-layer container">
                <div class="row" style="max-width: 900px; margin-left: auto; margin-right: auto;">
                    <div class="col-sm-5 media-wrapper">
                        <img class="main-media large" src="https://res.cloudinary.com/natzen/image/upload/v1598992659/cocohoney/site-content/pages/index/highlights-media/main-media-large.jpg" alt="magnetic-palette">
                        <video class="main-media small dt-view" playsinline autoplay muted loop>
                            <source src="https://res.cloudinary.com/natzen/video/upload/v1598992754/cocohoney/site-content/pages/index/highlights-media/main-media-small.mp4">
                        </video>
                    </div>
                    <div class="col-sm-7 text-wrapper">
                        <div class="text">
                            <h1>MAGNETIC PALETTE</h1>
                            <p>New Magnetic Palette out now! Click here to view and order.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="ambassador-register-advert">
            <div class="container">
                <a href="/ambassador/register">CLICK HERE TO BECOME AN AMBASSADOR</a>
            </div>
        </section>
        <!-- <section id="lash-collections-preview">
            <div class="container section-label">
                <div class="label-bg"></div>
                <div class="label-text"><h2>LATEST</h2></div>
            </div>
            <div class="thumb-container no-wrap">
                <div class="container">
                    <%_ [
                        { name: "Mist",      img: "https://res.cloudinary.com/natzen/image/upload/v1598992304/cocohoney/site-content/pages/index/preview-thumb/76b0fc4e-8156-48a7-82af-bef7744e2639.jpg" },
                        { name: "Empress",   img: "https://res.cloudinary.com/natzen/image/upload/v1598992332/cocohoney/site-content/pages/index/preview-thumb/a8ced4ac-839f-4a9c-9801-2bc0ea317ca6.jpg" },
                        { name: "Blush",     img: "https://res.cloudinary.com/natzen/image/upload/v1598992378/cocohoney/site-content/pages/index/preview-thumb/c0c03a46-b902-442a-bec5-c67b9706884b.jpg" }
                    ].forEach(collection => { _%>
                    <div class="thumb">
                        <a href="/product/3d-mink-eyelashes#<%= collection.name.toLowerCase() %>">
                            <div class="thumb-img" style="background-image: url('<%- collection.img %>'); box-shadow: 0 10px 30px rgba(0, 0, 0, .4)"></div>
                        </a>
                        <div class="thumb-info"><%= collection.name %></b></div>
                    </div>
                    <%_ }) _%>
                </div>
            </div>
        </section> -->
        <script>
            $(".bg-reel").each(function() { // bg auto-playing slideshow
                var bgreel = this;
                $(bgreel).children("div:gt(0)").fadeTo(0, 0);
                setInterval(function() {
                    $(bgreel).children('div:first')
                        .fadeTo(2000, 0)
                        .dequeue()
                        .next()
                        .fadeTo(0, 1)
                        .end()
                        .appendTo(bgreel);
                }, 5000);
            });

            $(window).on("load", function() {
                $("#loadscreen").fadeOut(1000, function() { $(this).remove() })
            });
        </script>
<%_ include partials/footer _%>
