<!DOCTYPE html>
<html lang="en" class="chc">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/cs-icon.png">
    <title><%= typeof title != "undefined" && title ? title + " | " : "" %>COCOHONEY COSMETICS</title>
    <meta name="keywords" content="cosmetics, london, beauty, fashion">
    <meta name="description" content="Community, Beauty Network, Family">
    <meta name="robots" content="index, follow">

    <link rel="stylesheet" type="text/css" href="/css/defaults.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</head>

<body id="<%= typeof pagename != 'undefined' && pagename ? pagename+'-page' : '' %>">
    <div class="bg-underlay bg-body">
        <video playsinline autoplay muted loop><source src="/img/honey drip p2.mp4"></video>
    </div>

    <header>
        <div class="inner-header container">
            <div class="logo-section header-content-section col-xs-4">
                <div id="chc-logo">
                    <a href="/">COCOHONEY COSMETICS</a>
                </div>
            </div>
            <div class="nav-section header-content-section col-xs-4" style="text-align: center">
                <div style="display: inline-block" id="nav-toggle">
                    <a class="fas fa-bars" style="font-size: 1.5em"></a>
                </div>
                <nav>
                    <div class="container" style="position: relative;">
                    <a class="fas fa-times" id="nav-close-icon"></a>
                    <a href="/">HOME</a>
                    <a href="/about">ABOUT US</a>
                    <a href="/product/3d-mink-eyelashes">3D MINK EYELASHES</a>
                    <a href="/product/make-up-pallets">MAKE UP PALLETS</a>
                    <a href="/product/lipsticks">LIPSTICKS / LIPLINERS</a>
                    <a href="/events">EVENTS</a>
                    <a href="/lookbook">LOOKBOOK</a>
                    <a href="/shipping">SHIPPING</a>
                    </div>
                </nav>
            </div>
            <div class="socials-section header-content-section col-xs-4" style="text-align: right">
                <a class="chc-social-link fab fa-instagram" style="font-size: 1.5em; margin-left: 10px" href="https://www.instagram.com/cocohoney_cosmetics/"></a>
            </div>
        </div>
    </header>
    <main>
        <section id="overview" class="container">
            <div class="col-sm-5 col-sm-push-7 media-wrapper">
                <img class="main-media large" src="/img/magnetic/WhatsApp Image 2020-08-12 at 21.39.34.jpeg" alt="magnetic-pallete">
                <video class="main-media mini" playsinline autoplay muted loop>
                    <source src="/img/magnetic/WhatsApp Video 2020-08-12 at 21.39.29.mp4">
                </video>
            </div>
            <div class="col-sm-7 col-sm-pull-5">
                <div class="text">
                    <h1>Lorem ipsum.</h1>
                    <p>Quasi aperiam iusto rerum, dolor debitis eaque amet quam eum maxime sint iste, cum recusandae suscipit. Temporibus sit rem minima officiis eveniet.</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
    </footer>
</body>
</html>
