<%_ include partials/header _%>
        <div id="loadscreen">
            <div class="content">
                <div class="spinner-wrapper">
                    <div class="spinner"></div>
                </div>
            </div>
        </div>
        <section id="overview">
            <div class="bg-layer bg-reel">
                <div class="bg-img" style="background-image: url('/img/shoots/IMG_2567.jpg');"></div>
                <div class="bg-img" style="background-image: url('/img/attachments/55C5A1FE-4FBC-4B02-AB0B-AD75EB953981.jpg');"></div>
                <div class="bg-img" style="background-image: url('/img/shoots/IMG_8920.jpg');"></div>
                <div class="bg-img" style="background-image: url('/img/shoots/IMG_2635.jpg');"></div>
                <div class="bg-img" style="background-image: url('/img/attachments/E5513162-F7B8-42B0-B75C-3015F0816DE6.jpg');"></div>
                <div class="bg-img" style="background-image: url('/img/attachments/B5743962-1592-4AF1-87B0-F0A71F46A683.jpg');"></div>
            </div>
        </section>
        <section id="must-haves" class="section-padding">
            <div class="content-layer container">
                <div class="row" style="max-width: 900px; margin-left: auto; margin-right: auto;">
                    <div class="col-sm-5 media-wrapper">
                        <img class="main-media large" src="/img/magnetic/WhatsApp Image 2020-08-12 at 21.39.34.jpeg" alt="magnetic-palette">
                        <video class="main-media mini" playsinline autoplay muted loop>
                            <source src="/img/magnetic/WhatsApp Video 2020-08-12 at 21.39.29.mp4">
                        </video>
                    </div>
                    <div class="col-sm-7">
                        <div class="text">
                            <h1>MAGNETIC PALETTE</h1>
                            <p>New Magnetic Palette out now! Click here to view and order.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="lash-collections-preview">
            <div class="container section-label">
                <div class="label-bg" style="background-image: url('/img/gold-brush-stroke.png');"></div>
                <div class="label-text"><h2>LATEST</h2></div>
            </div>
            <div class="thumb-container no-wrap">
                <div class="container">
                    <%_ [
                        { name: "Mist",      img: "/img/lashes/76b0fc4e-8156-48a7-82af-bef7744e2639.jpg" },
                        { name: "Empress",   img: "/img/lashes/a8ced4ac-839f-4a9c-9801-2bc0ea317ca6.jpg" },
                        { name: "Blush",     img: "/img/lashes/c0c03a46-b902-442a-bec5-c67b9706884b.jpg" }
                    ].forEach(collection => { _%>
                    <div class="thumb">
                        <a href="/product/3d-mink-eyelashes#<%= collection.name.toLowerCase() %>">
                            <div class="thumb-img" style="background-image: url('<%- collection.img %>'); box-shadow: 0 10px 30px rgba(0, 0, 0, .4)"></div>
                        </a>
                        <div class="thumb-info"><%= collection.name %></b></div>
                    </div>
                    <%_ }) _%>
                </div>
            </div>
        </section>
        <script>
            $(".bg-reel").each(function() { // bg auto-playing slideshow
                var bgreel = this;
                $(bgreel).children("div:gt(0)").fadeTo(0, 0);
                setInterval(function() {
                    $(bgreel).children('div:first')
                        .fadeTo(2000, 0)
                        .dequeue()
                        .next()
                        .fadeTo(0, 1)
                        .end()
                        .appendTo(bgreel);
                }, 5000);
            });

            $(window).on("load", function() {
                $("#loadscreen").fadeOut(1000, function() { $(this).remove() })
            });
        </script>
<%_ include partials/footer _%>
