<%- include ('partials/header') -%>
    <section>
        <div class="slider-container">
            <div class="slider-content">
                <%_ images.forEach(image => { _%>
                <div class="slider-single">
                    <div class="slider-single-image" style="background-image: url('<%- image.url %>')"></div>
                    <h1 class="slider-single-title"></h1>
                </div>
                <%_ }) _%>
            </div>
        </div>
    </section>
<%- include ('partials/footer') -%>
