<%_ include partials/header _%>
    <section class="section-padding">
        <div class="container" style="margin-top: 5em; text-align: center; font-weight: 400">
            <%_ orders.forEach(order => { _%>
            <div class="order">
                
            </div>
            <%_ }) _%>
        </div>
    </section>
<%_ include partials/footer _%>
