<%- include ('partials/header') -%>
    <section class="section-padding">
        <div class="textbody">
            <h1>SHIPPING & DELIVERY INFO</h1>
            <br>
            <div style="text-align: center">
                <p>All orders are shipped using Royal Mail and will receive a tracking number.</p>
                <p>Please use the Royal Mail tracking service to trace your parcel.</p>
                <p>Please allow 1 to 3 days to process your order</p>
            </div>
        </div>
    </section>
<%- include ('partials/footer') -%>