<%- include ('partials/header') -%>
    <section class="section-padding">
        <div class="textbody">
            <h1>SHIPPING & DELIVERY INFO</h1>
            <br>
            <div style="text-align: center">
                <p><%- (info || "").replace(/\r?\n/g, '</p><p>') %></p>
            </div>
        </div>
    </section>
<%- include ('partials/footer') -%>