<%_ include partials/header _%>
    <section class="section-padding">
        <div class="textbody">
            <h1>SHIPPING & DELIVERY INFO</h1>
            <p></p>
        </div>
    </section>
<%_ include partials/footer _%>