<%- include ('partials/header') -%>
    <section>
        <div class="container" style="margin-top: 5em; text-align: center; font-weight: 400">
            <h1>Subscription Sign-up and Payment Successful</h1>
            <p>Further details have been forwarded to your email address.</p>
            <p>Thank you for signing up!</p>
        </div>
    </section>
<%- include ('partials/footer') -%>
