h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.75em;
}

li {
    margin-bottom: .4em;
}

body {
    overflow-x: hidden;
}

header .inner-header {
    padding: 30px 20px;
}

header .links-section > .link {
    font-size: 1.5em;
}

header .links-section > .link:not(:first-child) {
    margin-left: 10px;
}

header .links-section #context-menu-link {
    position: relative;
    z-index: 50;
}

header .links-section #context-menu-link:hover {
    opacity: 1;
}

header .links-section #link-context-menu {
    position: absolute;
    display: none;
    top: -30px;
    right: -20px;
    min-width: 180px;
    background-color: rgba(0, 0, 0, .7);
    padding: 65px 20px 20px;
    border-radius: 0 0 10px 10px;
    z-index: 20;
}

header .links-section #link-context-menu .link {
    display: block;
    font-size: 1em;
}

header .links-section #link-context-menu .link:not(:last-child) {
    margin-bottom: 1em;
}

.header-content-section:nth-child(1n + 2) {
    text-align: right;
}

#nav-icon {
    display: inline-block;
    font-size: 1.5em;
}

nav {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 30px 0;
    background-image: linear-gradient(to left, rgb(124, 76, 76) 20%, rgba(124, 76, 76, .85));
    overflow: auto;
    z-index: 1000;
    text-align: left;
}

nav a.link {
    display: block;
    text-align: center;
    margin: 0 auto 1.5em;
    padding: 0 30px;
}

nav .sub-list {
    display: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 1.5em;
    margin-bottom: 1.5em;
}

#nav-close-icon {
    display: block;
    font-size: 1.75em;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 1.5em;
    margin-top: -2px;
}

#banner-1 {
    position: relative;
    text-align: center;
    background-color: rgba(0, 0, 0, .15);
    text-transform: uppercase;
    font-size: .75em;
    font-weight: 500;
}

#home-page #banner-1 {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, .25);
}

#banner-1 .carousel-item {
    padding: 10px 0;
}

main {
    min-height: 70vh;
}

main > section {
    position: relative;
    margin: 30px 0;
}

div::-webkit-scrollbar-thumb {
    background-color: rgba(240, 230, 140, .5);
}

.section-padding {
    padding: 60px 30px;
}

.textbody {
    max-width: 700px;
    margin: 0 auto;
    line-height: 2;
}

.textbody h1 {
    text-transform: uppercase;
    text-align: center
}

#page-bg-underlay {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#page-bg-underlay:before {
    position: absolute;
    display: table;
    content: " ";
    width: 100%;
    height: 100%;
    background-color: rgba(124, 76, 76, 0.9);
    /* background-image: linear-gradient(to bottom, rgba(133, 64, 56, .8), rgba(133, 64, 56, .7)); */
    z-index: 5;
}

#page-bg-underlay video {
    position: absolute;
    left: 50%;
    height: inherit;
    -webkit-filter: saturate(3) hue-rotate(-40deg) brightness(1.5);
    -webkit-transform: translateX(-50%);
    filter: saturate(3) hue-rotate(-40deg) brightness(1.5);
    transform: translateX(-50%);
}

#loadscreen {
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    width: 100vw;
    height: 100vh;
    background-color: rgb(124, 76, 76);
    z-index: 10000;
}

#loadscreen .content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#loadscreen .spinner-wrapper {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
}

#loadscreen .spinner {
    width: inherit;
    height: inherit;
    border: 2px solid rgb(240, 230, 140);
    border-top: none;
    border-radius: 100%;
    -webkit-animation: spinner 1s infinite linear;
    animation: spinner 1s infinite linear;
}

@-webkit-keyframes spinner { to { transform: rotate(360deg) } }
@keyframes spinner { to { transform: rotate(360deg) } }

header, main, footer {
    position: relative;
}

footer {
    margin-top: 2em;
    padding: 3em 0;
    background-color: rgba(0, 0, 0, .5);
}

footer .row:not(:last-child) {
    margin-bottom: 3em;
}

footer #footer-links .link {
    display: block;
    margin-bottom: 1em;
}

footer #accepted-cards {
    text-align: right;
}

footer #accepted-cards .card-icon {
    font-size: 3em;
    margin-bottom: 10px;
}

footer #accepted-cards .card-icon:not(:first-child) {
    margin-left: 10px;
}

footer #copyright {
    text-align: center;
}

#highlights .carousel-inner {
    overflow: initial;
}

#highlights .carousel-item > .container {
    position: relative;
    z-index: 5;
}

#highlights .text {
    display: block;
    padding: 0 10px 20px;
}

#highlights .text h1 {
    color: rgb(240, 230, 140);
}

#highlights .media-group {
    padding: 0;
    height: 500px;
}

#highlights .media-group .main-media {
    pointer-events: none;
}

#highlights .media-group .main-media-large-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

#highlights .media-group .main-media.large {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 130%;
    max-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#highlights .media-group .main-media-small-wrapper {
    position: absolute;
    top: 50%;
    right: 0;
    height: 320px;
    width: 320px;
    -webkit-transform: translate(50%, -40%);
    transform: translate(50%, -40%);
}

#highlights .media-group .main-media.small {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .4);
}

#highlights .media-group video.main-media.small {
    max-width: 100%;
    max-height: 100%;
}

@media (min-width: 576px) {
    #highlights .text-wrapper {
        min-height: 400px;
    }

    #highlights .text {
        position: relative;
        top: 200px;
        padding: 50px 60px 50px 120px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #highlights .media-group .main-media.large {
        border-radius: 10px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, .4);
        max-width: 100%;
    }
}

@media (max-width: 575px) {
    #highlights {
        margin-top: -110px;
    }

    #highlights .media-group {
        overflow: hidden;
        height: 620px;
    }

    #highlights .media-group .main-media-large-wrapper {
        position: static;
        overflow: hidden;
        border-radius: 50%;
        -webkit-transform: rotate(-60deg);
        transform: rotate(-60deg);
        height: 125%;
        margin-top: -80px;
    }

    #highlights .media-group .main-media.large.landscape {
        -webkit-transform: translate(-50%, -50%) rotate(90deg);
        transform: translate(-50%, -50%) rotate(90deg);
    }

    #highlights .media-group .main-media-small-wrapper {
        top: auto;
        right: auto;
        left: 0;
        bottom: 36px;
        height: 180px;
        width: 150px;
        -webkit-transform: none;
        transform: none;
    }

    #highlights .media-group .main-media.small {
        box-shadow: 0 10px 20px rgba(0, 0, 0, .4);
    }

    #highlights .carousel .carousel-control-next,
    #highlights .carousel .carousel-control-prev {
        top: 50%;
        bottom: auto;
        height: 100px;
        background-color: rgba(80, 48, 48, .5);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.section-label > * {
    position: relative;
}

.section-label .label-text h2 {
    color: rgb(240, 230, 140);
    text-shadow: none;
}

.section-label .label-bg + .label-text h2 {
    mix-blend-mode: difference;
}

.section-label .label-bg + .label-text h2.alt-fallback {
    color: black;
}

.section-label .label-text .col-title,
.section-label .label-text .col-info {
    margin-bottom: 1.5em;
    text-align: center;
}

.section-label .label-bg {
    position: absolute;
    top: -40px;
    width: 450px;
    height: 120px;
    background-position: 0 center;
    background-size: 100% 130%;
    background-repeat: no-repeat;
    background-image: url("https://res.cloudinary.com/natzen/image/upload/v1598991355/cocohoney/site-content/gold-brush-stroke.png");
    -webkit-filter: brightness(2) grayscale(0.6);
    filter: brightness(2) grayscale(0.6);
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
}

.section-overlapped {
    margin-top: -50px;
    z-index: 5;
}

@media (min-width: 576px) {
    .section-label .label-text .col-title,
    .section-label .label-text .col-info {
        margin-bottom: 0;
    }

    .section-label .label-text .col-title {
        text-align: left;
    }

    .section-label .label-text .col-info {
        text-align: right;
    }

    .section-overlapped {
        margin-bottom: -50px;
    }
}

.modal-backdrop {
    background-color: inherit;
}

.modal-backdrop.show {
    opacity: 1;
}

.modal-open .modal {
    padding: 0!important;
}

.modal .modal-dialog {
    max-width: none;
    max-height: none;
    margin: 0;
}

.modal .modal-content {
    background-color: transparent;
    border: none;
    max-height: none;
    height: 100vh;
}

.modal .modal-body {
    padding: 0;
}

.modal .modal-icons {
    position: fixed;
    right: 15px;
    top: 10px;
    font-size: 1.75em;
    overflow: hidden;
    z-index: 96;
}

.modal .modal-icons .close {
    padding: 0;
    margin-top: 6px;
}

.carousel .carousel-indicators {
    margin-bottom: 0;
}

.carousel .carousel-indicators li {
    border: none;
    background-color: rgba(255, 255, 255);
    opacity: .5;
}

.carousel .carousel-indicators li:not(:last-child) {
    margin-right: 5px;
}

.carousel .carousel-indicators .active {
    opacity: 1;
}

.carousel .carousel-control-next,
.carousel .carousel-control-prev {
    bottom: 23px;
    z-index: 10;
}

.carousel .carousel-control-next-icon,
.carousel .carousel-control-prev-icon {
    position: relative;
    background-image: none;
    font-size: 1.5em;
}

.carousel .carousel-control-next-icon:before,
.carousel .carousel-control-prev-icon:before {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#overview {
    margin-top: 0;
    min-height: 80vh;
}

#overview-images-carousel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .75;
}

#overview-images-carousel:before {
    position: absolute;
    display: table;
    content: " ";
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(124, 76, 76, .4) 30px, rgba(124, 76, 76, .6) 20%, transparent);
    z-index: 50;
}

#overview-images-carousel .carousel-inner,
#overview-images-carousel .carousel-item {
    height: 100%;
}

#overview-images-carousel .carousel-item {
    -webkit-transition-duration: 2s;
    transition-duration: 2s;
}

#overview-images-carousel .bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

#adverts-section {
    background-image: linear-gradient(45deg, rgba(240, 230, 140, .9), rgba(240, 230, 140, .3));
    color: rgb(124, 76, 76);
    text-align: center;
    padding: 50px 0;
}

@media (min-width: 576px) {
    #overview-images-carousel:before {
        background-image: linear-gradient(135deg, rgba(124, 76, 76, .9) 20%, transparent);
    }

    #adverts-section {
        padding: 100px 0;
    }
}

@media (min-width: 768px) {
    #overview-images-carousel .bg-img {
        background-attachment: fixed;
    }
}

#reviews-preview-section {
    height: 300px;
    padding: 4em 0;
}

#reviews-carousel {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#reviews-carousel .review {
    font-weight: 500;
    text-align: center;
}

#reviews-carousel .review-commentry {
    font-weight: 300;
}

#reviews-carousel .review .read-more-link {
    border-bottom: 1px solid white;
    margin-left: 10px;
}

#reviews-carousel .review-rating {
    color: rgb(240, 230, 140);
    font-size: 1.2em;
}

.lg-text {
    font-weight: 500;
}

@media (min-width: 576px) {
    .lg-text {
        font-size: 2em;
        font-weight: 300;
    }
}

.thumb-container {
    position: relative;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 20px;
    z-index: 9;
}

.thumb-container.no-wrap {
    white-space: nowrap;
    padding-bottom: 0;
}

.thumb-container.no-wrap .row {
    display: inline-block;
}

.thumb-container.no-wrap .thumb {
    display: inline-block;
    width: 230px;
    max-width: 500px;
    margin-right: 50px;
}

.thumb-container.no-wrap .thumb:last-child {
    margin-right: 50px;
}

.thumb {
    margin-bottom: 2.5em;
}

.thumb .thumb-inner {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .4);
    overflow: hidden;
}

.thumb .thumb-img {
    position: relative;
    height: 150px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    margin: -10px -10px 10px;
}

.thumb .thumb-img.sold-out {
    opacity: .5;
}

.thumb .thumb-img .sale-ribbon {
    position: absolute;
    bottom: 37px;
    right: -100px;
    width: 300px;
    -webkit-transform-origin: center;
    -webkit-transform: rotate(-45deg);
    transform-origin: center;
    transform: rotate(-45deg);
    background-color: rgb(240, 230, 140);
    color: rgb(124, 76, 76);
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}

.thumb .thumb-info {
    white-space: normal;
    padding: 10px 0;
    font-weight: 500;
    text-align: center;
}

.thumb .quantity-wrapper {
    margin: 0 -10px;
}

.thumb .thumb-info .product-price del {
    font-size: .8em;
    opacity: .5;
}

.add-to-cart-btn {
    background-color: transparent;
    color: inherit;
    font-size: 1.5em;
}

.add-to-cart-btn.pre-order {
    font-size: 1em;
    border: 1.5px solid white;
    padding: 5px 5px 3px!important;
}

.thumb .add-to-cart, .thumb .add-to-cart-btn {
    margin: 0;
}

.thumb .add-to-cart-btn {
    padding-top: 0;
    padding-bottom: 0;
}

.thumb .add-to-cart-btn:not(:last-child) {
    margin-right: 10px;
}

@media (min-width: 576px) {
    .thumb .thumb-img {
        height: 240px;
    }

    .thumb .quantity-wrapper {
        margin: 0;
    }
}

.add-to-cart-btn .icon + span {
    margin-left: 5px;
}

#about-page p span {
    color: salmon;
}

#about-page .info-img {
    max-width: 400px;
    text-align: center;
    margin: 2em auto;
}

#about-page .info-img img {
    border-radius: 10px;
    width: 100%;
}

.form-container {
    padding-top: 2em;
    padding-bottom: 2em;
}

form, .form {
    max-width: 600px;
    margin: 0 auto 2em;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .5);
    padding: 30px;
}

form legend {
    text-align: center;
    border: 0;
    padding: 1em 0;
    color: inherit;
}

form legend + .note {
    display: block;
    text-align: center;
    margin-bottom: 3em;
}

form legend + .note a {
    border-bottom: 1px solid white;
}

form.minimal {
    border-radius: 0;
    background-color: transparent;
    padding: 0;
    margin-bottom: 0;
}

input, textarea, select {
    width: 100%;
    margin-bottom: 2em;
    background-color: transparent;
    -webkit-transition-property: background-color, border-width, opacity;
    -webkit-transition-duration: .5s;
    transition-property: background-color, border-width, opacity;
    transition-duration: .5s;
    font-weight: 500;
}

input, textarea, select, button {
    border: none;
    color: inherit;
}

input.inline {
    width: auto;
}

input[type=text],
input[type=password],
input[type=number],
input[type=url],
input[type=email],
input[type=date],
input[type=tel],
textarea, select {
    padding: 10px;
    border-bottom: 1px solid white;
    outline: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input:not([type=submit]):disabled, textarea:disabled, select:disabled {
    background-color: rgba(0, 0, 0, .4);
    border-width: 0;
    border-radius: 5px;
}

input[type=checkbox], input[type=radio] {
    width: auto;
    margin-right: 10px;
    margin-bottom: .5em;
}

input[type=submit], input[type=button], button {
    width: auto;
    background-color: rgb(240, 230, 140);
    color: rgb(124, 76, 76);
}

input[type=submit], input[type=button], button[type=submit], button.submit {
    display: table;
    padding: 15px 30px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
}

input[type=submit]:disabled, input[type=button]:disabled, button:disabled {
    opacity: .5;
}

input[type=radio] + small {
    display: block;
    color: rgb(255, 255, 255, .7);
    font-size: .75em;
    padding: 0 30px;
}

input[type=password] + small {
    display: block;
    margin-top: -1em;
    margin-bottom: 2em;
    opacity: .5;
}

select, textarea {
    border: 1px solid white;
    border-radius: 5px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select option {
    color: black;
}

textarea {
    min-width: 100%;
    max-width: 100%;
}

button {
    padding: 8px 10px;
    margin-bottom: 1em;
    -webkit-transition: .5s opacity;
    transition: .5s opacity;
    border: none;
}

button.minimal {
    background-color: transparent;
    color: inherit;
}

button + button {
    margin-left: 10px;
}

label {
    font-weight: 300;
    margin-bottom: 10px;
}

label span {
    font-size: .8em;
    opacity: .7;
}

label span.margin {
    margin-left: 5px;
}

label span a {
    border-bottom: 1px solid white;
}

label .dropdown-arrow {
    margin-left: 5px;
}

.check-option-group {
    margin-bottom: 2em;
}

.input-group {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.input-group button,
.input-group input[type=submit] {
    padding: 2.75px 12px 2.75px 10px;
    margin: 0;
    background-color: rgb(240, 230, 140);
    color: rgb(124, 76, 76);
}

.check-option.input-group {
    background-color: rgba(255, 255, 255, .15);
    border-radius: 7px;
    margin-bottom: 1em;
}

.check-option.input-group * {
    color: white!important;
}

.check-option.input-group .input-group-text,
.check-option.input-group .form-control {
    background-color: transparent;
    border: none;
    line-height: 1.8;
}

.check-option.input-group input {
    margin: 0;
}

@media (min-width: 576px) {
    .check-option.input-group {
        margin-bottom: 1.5em;
    }    
}

.g-recaptcha {
    position: relative;
    display: inline-block;
    left: 50%;
    padding-bottom: 2em;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#cart-icon {
    position: fixed;
    display: block;
    right: 0;
    bottom: 20px;
    text-align: center;
    padding: 10px 15px;
    border-radius: 7px 0 0 7px;
    font-size: 2em;
    -webkit-transform: translateX(100%);
    -webkit-transition: .5s transform;
    transform: translateX(100%);
    transition: .5s transform;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
    z-index: 500;
}

#cart-icon.visible {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.cart-item {
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    max-width: 800px;
}

.cart-item .item-img {
    position: relative;
    height: 200px;
}

.cart-item .item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.cart-item .item-img.item-img-label {
    background-color: rgba(0, 0, 0, .15);
}

.cart-item .item-img.item-img-label > span {
    position: relative;
    display: block;
    top: 50%;
    width: 100%;;
    text-align: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cart-item .item-info > * {
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (max-width: 575px) {
    .cart-item > * {
        margin-bottom: 1.5em;
    }

    .cart-item .item-name, .cart-item .item-price {
        text-align: center;
    }

    .cart-item:not(:last-child) .item-qty-control {
        margin-bottom: 4em;
    }
}

.cart-item .item-qty-control {
    font-weight: bold;
    text-align: center;
}

.cart-item .item-qty-control form, .cart-item .item-qty-control button {
    margin-bottom: 0;
}

.cart-item .item-qty-control button {
    padding: 10px 20px
}

.cart-item .item-qty-control button:not(.remove-btn) {
    background-color: transparent;
    color: white;
}

@media (min-width: 576px) {
    .cart-item .item-qty-control .remove-btn {
        margin-top: 20px;
    }
}

#price-total {
    font-size: 1.5em;
}

#lookbook-gallery-page .img-wrapper {
    padding-bottom: 20px;
}

#lookbook-gallery-page .img-inner {
    overflow: hidden;
    border-radius: 7px;
}

#lookbook-gallery-page .img-inner img {
    width: 100%;
}

@media (max-width: 575px) {
    #lookbook-gallery-page .col-left {
        padding-left: 20px;
        padding-right: 10px
    }

    #lookbook-gallery-page .col-right {
        padding-right: 20px;
        padding-left: 10px
    }
}

@media (min-width: 576px) {
    #lookbook-gallery-page .img-wrapper {
        padding: 20px 20px 50px;
    }
}

.nav.nav-pills > li {
    float: none;
    display: inline-block;
}

.nav.nav-pills .nav-link {
    position: relative;
}

.nav.nav-pills .nav-link::before {
    position: absolute;
    display: block;
    content: " ";
    bottom: -1.5px;
    left: 50%;
    width: 0;
    height: 1px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: white;
    transition: .25s width;
}

.nav.nav-pills .nav-link.active,
.nav.nav-pills .nav-link.active:focus,
.nav.nav-pills .nav-link.active:hover {
    background-color: transparent;
    border-radius: 0;
    opacity: 1;
}

.nav.nav-pills .nav-link.active::before {
    width: 100%;
}

.nav > li > a:focus, .nav > li > a:hover {
    color: rgb(124, 76, 76);
}

.table-hover tbody tr:hover {
    color: inherit;
    background-color: rgba(0, 0, 0, .15);
}

@media (max-width: 767px) {
    #admin-page #home ul {
        padding-left: 20px;
    }
}

#admin-page .nav-pills-container {
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: rgba(0, 0, 0, .15);
    transition: .5s height;
}

#admin-page .nav-pills-container.expanded {
    height: auto;
}

#admin-page #nav-pills-collapse {
    display: none;
    text-align: center;
    padding-bottom: 20px;
}

#admin-page #nav-pills-collapse > i {
    position: relative;
    font-size: 1.5em;
    transition: .5s transform;
}

#admin-page .nav-pills-container.expanded #nav-pills-collapse > i {
    -moz-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

#admin-page .tab-pane > h1 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 30px;
}

#admin-page form .new-opt {
    display: none;
}

@media (max-width: 575px) {
    #admin-page .nav-pills-container {
        height: 75px;
        overflow: auto;
    }

    #admin-page #nav-pills-collapse {
        display: block;
    }
}

.info-label {
    font-size: .75em;
    margin-bottom: 2em;
}

.info-label .info-icon {
    margin-right: 5px;
    font-size: 1.2em;
}

#admin-page .info-label {
    font-size: 1em;
    text-align: center;
    background-color: rgba(0, 0, 0, .15);
    padding: 20px 10px;
    border-radius: 7px;
}

#admin-page .admin-list {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

#admin-page .admin-list .list-item {
    display: inline-block;
    padding: 15px;
    background-color: rgb(0, 0, 0, .5);
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

#admin-page .admin-list .list-item small {
    opacity: .5;
}

#admin-page .admin-list .customer-orders {
    margin-top: 2em;
}

#admin-page .admin-list .customer-orders .customer-order {
    padding: 20px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 7px;
    margin-bottom: 20px;
}

#admin-page .admin-list .customer-orders .customer-order p:last-child {
    margin-bottom: 0;
}

#admin-page .admin-list .customer-orders .customer-order .order_id {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

#admin-page .admin-list .customer-orders .customer-order small {
    opacity: .5;
}

#admin-page .admin-list .customer-orders .customer-order a.link {
    font-size: .85em;
    border-bottom: 1px solid white;
}

#admin-page .admin-list .modal .info-label {
    padding: 10px;
    border-radius: 0;
}

#admin-page .admin-list .modal .opt {
    display: inline-block;
    margin: 5px 5px 5px 0;
}

#admin-page .admin-list .modal .opt [type=submit] {
    padding: 6px 10px;
}

#admin-page .admin-list .letter-category {
    padding: 10px 0;
    margin: 0 0 5px;
}

#admin-page .media-mgmt-pane form .img {
    position: relative;
    display: block;
    padding-top: 100%;
    background-position: center;
    background-color: rgba(0, 0, 0, .25);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    cursor: pointer;
}

#admin-page .media-mgmt-pane form .img video {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#admin-page .media-mgmt-pane form input[type=checkbox],
#admin-page .media-mgmt-pane form input[type=number] {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    margin: 10px;
}

#admin-page .media-mgmt-pane form input[type=number] {
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 2px solid rgb(124, 76, 76);
    background-color: white;
    color: black;
}

#admin-page #sale fieldset {
    margin-bottom: 2em;
}

#admin-page #sale label:not(.switch),
#admin-page #sale #sale-percentage-section .row {
    margin-bottom: 1em;
}

#admin-page #sale label:not(.switch) {
    display: block;
    margin-bottom: 2em;
}

#admin-page #sale #sale-percentage-section .row label {
    margin-bottom: 0;
}

#admin-page #mail-sub-check-form .check-option.input-group {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.info-bubble {
    position: fixed;
    display: none;
    padding: 15px;
    background-color: rgba(0, 0, 0, .5);
    min-width: 250px;
    max-width: 400px;
    font-weight: 500;
}

.info-bubble.point-top-right {
    padding-top: calc(15px * 2);
    clip-path: polygon(0 15px, calc(100% - 15px) 15px, 100% 0, 100% 100%, 0 100%, 0 15px);
}

.info-bubble.align-right {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.info-bubble p:last-child {
    margin-bottom: 0;
}

.tab-content {
    padding-top: 2em;
    padding-bottom: 2em;
}

.section-dropdown-options {
    font-weight: bold;
    max-width: 250px;
    margin: 0 auto
}

.img-preview {
    position: relative;
    display: none;
    text-align: center;
    height: 200px;
}

.img-preview.show {
    display: block;
}

.img-preview img,
.img-preview video {
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 30px;
}

.file-upload-container {
    display: block;
    margin-bottom: 4em;
}

#new-lookbook-media .file-upload-container {
    border: 1.5px solid rgba(255, 255, 255, .5);
    padding: 20px 15px;
    border-radius: 10px;
}

.no-removable-items-label {
    text-align: center;
    margin-top: 2em;
}

#product-view-page .product-view-container {
    padding-top: 5em;
    padding-bottom: 5em;
}

#product-view-page .product-image-single {
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#product-view-page .product-image-single img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 400px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .4);
}

#product-view-page .details {
    margin-bottom: .5em;
}

#product-view-page .product-info {
    padding-top: 2em;
    padding-bottom: 2em;
}

#product-view-page #name {
    font-size: 1.2em;
}

#product-view-page #price {
    font-size: 2em;
    color: rgb(240, 230, 140);
}

#product-view-page #sale-label {
    margin: 2em 0 3em;
    font-weight: 500;
}

#product-view-page #sale-label span {
    padding: 10px 30px;
    border: 2px solid rgb(240, 230, 140);
    background-color: rgb(124, 76, 76);
    color: rgb(240, 230, 140);
}

#product-view-page #extra-info {
    margin-top: 2em;
}

#product-view-page .add-to-cart-btn {
    font-weight: 500;
    text-align: left;
}

#product-view-page .add-to-cart-btn.pre-order {
    width: auto;
    text-align: center;
    padding: 10px 10px 8px!important;
}

@media (max-width: 575px) {
    #product-view-page .product-info {
        text-align: center;
    }

    #product-view-page .add-to-cart-btn {
        width: auto;
        text-align: center;
    }
}

input.product-quantity {
    display: inline-block;
    max-width: 70px;
    border: none;
    text-align: center;
}

input.product-quantity:disabled {
    background-color: transparent;
}

.quantity-control-btn {
    background-color: transparent;
    color: white;
}

@media (max-width: 575px) {
    input.product-quantity {
        max-width: 50px;
        margin-bottom: 0;
    }
}

.sold-out-label {
    font-weight: 400;
    padding: 10px 0 22px;
}

@media (min-width: 576px) {
    .sold-out-label {
        padding: 10px 0 38px;
    }
}

#product-view-page .sold-out-label {
    padding: 0 0 24px;
}

#faq-page .question {
    text-align: center;
    margin-bottom: -.5em;
}

#faq-page .answer {
    padding: 50px;
    background-color: rgba(0, 0, 0, .15);
    border-radius: 10px;
}

#faq-page .answer:not(:last-child) {
    margin-bottom: 5em;
}

.table {
    color: inherit;
}

#box-deal-page main > section {
    margin-bottom: 5em;
}

#box-deal-page #box-deal-form {
    max-width: none;
}

#box-deal-page input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 10
}

#box-deal-page .thumb-container {
    padding-left: 0;
    padding-right: 0;
}

#box-deal-page .thumb .thumb-img .item-select-check {
    position: absolute;
    right: 10px;
    bottom: 10px;
    line-height: 0;
    font-size: 2.5em;
    color: rgb(240, 230, 140);
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

#box-deal-page .thumb:not(.checked) .thumb-img .item-select-check .check-symbol:last-child {
    display: none;
}

#box-deal-page .thumb.checked .thumb-img .item-select-check .check-symbol:first-child {
    display: none;
}

#box-deal-page #submit-btn {
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
    bottom: 2em;
    margin-left: 0;
    margin-bottom: 0;
}

#box-deal-page .header {
    background-color: rgba(0, 0, 0, .5);
    margin-top: 145px;
}

#box-deal-page .header .img-container {
    position: relative;
}

#box-deal-page .header .img-container .img {
    position: relative;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 100%;
    max-height: 100%;
    height: 230px;
    margin-top: -115px;
    border-radius: 10px;
}

#box-deal-page .header .text-container {
    overflow: auto;
}

#box-deal-page .header .text-content {
    padding: 30px 20px 0;
    text-align: center;
}

#box-deal-page .header .text-content h1 {
    font-size: 2em;
}

#box-deal-page .header .text-content #price {
    font-size: 1.5em;
    color: rgba(240, 230, 140);
    margin-top: -1em;
}

#box-deal-page .header #smooth-scroll-arrow {
    font-size: 3em;
    -webkit-animation: arrow-crossfade 1.5s infinite ease-in-out backwards;
    animation: arrow-crossfade 1.5s infinite ease-in-out backwards;
}

@-webkit-keyframes arrow-crossfade {
    from { opacity: 0; -webkit-transform: translateY(-10px) }
    50% { opacity: 1 }
    to { opacity: 0; -webkit-transform: translateY(10px) }
}

@keyframes arrow-crossfade {
    from { opacity: 0; transform: translateY(-10px) }
    50% { opacity: 1 }
    to { opacity: 0; transform: translateY(10px) }
}

@media (min-width: 576px) {
    #box-deal-page #submit-btn {
        left: auto;
    }

    #box-deal-page .panel-title {
        text-align: left;
    }
}

@media (min-width: 768px) {
    #box-deal-page .header {
        margin-top: 0
    }

    #box-deal-page .header .img-container {
        margin: 0;
        height: 400px;
    }

    #box-deal-page .header .img-container .img {
        position: absolute;
        top: 50%;
        left: 0;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        height: auto;
        margin-top: 0;
        border-radius: 0;
    }

    #box-deal-page .header .text-container {
        max-height: 400px;
    }

    #box-deal-page .header .text-content {
        padding-top: 40px;
    }
}

.star-rating {
    max-width: 200px;
    margin: 0 auto 2em;
}

.star-rating .star {
    width: 20%;
    font-size: 2em;
}

.star-rating .star input[type=radio] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
    cursor: pointer;
}

#customer-reviews-page #review-submission-link-btn {
    display: block;
    margin: 0 auto 2em;
}

#customer-reviews-page #reviews {
    margin-top: 7em;
}

#customer-reviews-page .review {
    position: relative;
    padding: 20px;
    background-color: rgba(0, 0, 0, .15);
    border-radius: 10px;
    transition: .5s border;
}

#customer-reviews-page .review.unapproved {
    border: 2px solid rgba(240, 230, 140, .5);
}

#customer-reviews-page .review:not(:last-child) {
    margin-bottom: 100px;
}

#customer-reviews-page .review .header-icon {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 300px;
    margin: -48px 0 1em;
    background-color: rgb(80, 48, 48);
}

#customer-reviews-page .review .header-icon > * {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#customer-reviews-page .review .admin-control-opt {
    margin-left: auto;
}

#customer-reviews-page .review .admin-control-opt form button[type=submit] {
    background-color: transparent;
    padding: 10px;
    margin-bottom: 0;
    color: inherit;
    font-size: 1.2em;
}

#customer-reviews-page .review .header {
    text-align: center;
    margin-bottom: .5em;
}

#customer-reviews-page .review .headline .title,
#customer-reviews-page .review .rating {
    font-size: 1.5em;
}

#customer-reviews-page .review .author-details {
    margin-top: 1em;
    margin-bottom: 1em;
    color: rgba(255, 255, 255, .5);
}

#customer-reviews-page .review .verified-badge {
    font-size: 1.2em;
    margin: 0 5px;
}

#customer-reviews-page .review .comment-wrapper {
    max-height: 150px;
    overflow: auto;
    margin-bottom: 1em;
    transition: .25s max-height;
}

#customer-reviews-page .review .comment-toggle {
    text-align: center;
}

#customer-reviews-page .review .comment-wrapper + .comment-toggle span {
    display: none;
    border-bottom: 1px solid white;
    padding: 10px;
    cursor: pointer;
}

#customer-reviews-page .review .comment-wrapper:not(.expanded) + .comment-toggle span.expand {
    display: inline;
}

#customer-reviews-page .review .comment-wrapper.expanded + .comment-toggle span.collapse {
    display: inline;
}

#customer-reviews-page .review .comment p:last-child {
    margin-bottom: 0;
}

#customer-reviews-page .review .images {
    position: relative;
    white-space: nowrap;
    overflow: auto;
    height: 200px;
    margin-bottom: 1.5em;
    text-align: center;
    background-color: rgba(0, 0, 0, .15);
}

#customer-reviews-page .review .images .carousel-inner,
#customer-reviews-page .review .images .carousel-item {
    height: 100%;
}

#customer-reviews-page .review .images img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

#customer-reviews-page .review .images img:not(:last-child) {
    margin-right: 10px;
}

#customer-reviews-page .count {
    text-align: center;
}

#customer-reviews-page .rating-meter {
    position: relative;
    background-color: white;
    border-radius: 4px;
    height: 1.75em;
    overflow: hidden;
    margin-bottom: 1em;
}

#customer-reviews-page .rating-meter .stars {
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 0 5px;
    color: rgb(124, 76, 76);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 5;
}

#customer-reviews-page .rating-meter .bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgb(240, 230, 140);
}

@media (min-width: 576px) {
    #customer-reviews-page .review .headline,
    #customer-reviews-page .review .author-name {
        text-align: left;
    }

    #customer-reviews-page .review .rating {
        text-align: right;
        line-height: 1;
    }

    #customer-reviews-page .review .post-date {
        text-align: right;
    }
}

#account-page #banner-1 {
    display: none;
}

#account-page .profile-body {
    margin-top: 130px;
    padding: 30px 0;
    background-color: rgba(0, 0, 0, .4);
}

#account-page .profile-card {
    margin-top: -130px;
    margin-bottom: 50px;
    text-align: center;
}

#account-page .profile-picture {
    margin: 0 auto 2em;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    background-color: rgb(124, 76, 76);
    height: 200px;
    width: 200px;
}

#account-page .profile-summary .name {
    font-size: 1.5em;
}

#account-page .profile-summary .role {
    font-size: .85em;
}

#account-page .profile-summary .dc {
    margin-bottom: 1.5em;
}

#account-page .dashboard .nav.nav-pills {
    margin: 30px auto;
    -ms-flex-pack: center;
    justify-content: center;
}

#account-page .thumb .thumb-info {
    position: relative;
    text-align: left;
    padding: 10px;
    height: 220px;
}

#account-page .order-header {
    margin-bottom: .5em;
}

#account-page .order-date {
    text-align: right;
    font-size: .75em;
    color: rgba(255, 255, 255, .75);
}

#account-page .order-summary ul {
    padding-left: 15px;
    font-weight: 300;
}

#account-page .order-summary-link {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

#account-page #settings-button {
    padding: 10px 10px 8px;
    font-weight: 300;
    font-size: .8em;
    border: 1px solid white;
}

#account-page #personal-info,
#account-page #order-sales-counter {
    text-align: center;
}

#account-page #order-sales-counter small {
    color: inherit;
    font-weight: 300;
}

#account-page #amb-dc-form {
    max-width: 300px;
}

#account-page .invoice-link {
    border-bottom: 1px solid white;
}

#account-page .mail-sub-toggle-form {
    max-width: 350px;
    text-align: center;
    padding: 0 30px;
}

#account-page .mail-sub-toggle-form label {
    height: auto;
}

#account-page .mail-sub-toggle-form input[type=checkbox] {
    margin: 0;
}

@media (min-width: 576px) {
    #account-page .dashboard .nav.nav-pills {
        margin: 0 auto 30px;
        -ms-flex-pack: initial;
        justify-content: initial;
    }

    #account-page #order-sales-counter {
        text-align: left;
    }
}

@media (min-width: 768px) {
    #account-page .dashboard .nav.nav-pills {
        margin-left: 0;
    }

    #account-page #personal-info {
        text-align: left;
    }
}

.modal-backdrop {
    background-color: transparent;
    background-image: linear-gradient(to right, rgb(124, 76, 76) 20%, rgba(124, 76, 76, .85));
}

.modal-backdrop.show {
    opacity: 1;
}

.modal-open .modal {
    padding: 0!important;
}

.modal .modal-body {
    padding: 50px 0px;
}

.modal .modal-icons {
    position: fixed;
    right: 15px;
    top: 10px;
    font-size: 1.75em;
    overflow: hidden;
    z-index: 96;
}

.modal .modal-icons .close {
    margin-top: 6px;
    padding: 5px 15px;
    font-weight: 400;
    background-color: transparent;
    color: white;
    font-size: 1.3em;
}

#image-lg-modal .modal-body,
#image-lg-modal .img {
    width: 100%;
    height: 100%;
}

#image-lg-modal .img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

img[data-target='#image-lg-modal'] {
    cursor: pointer;
}

/* SWITCH ICON styles */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 1.2em;
}

.switch span {
    opacity: 1;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 3.5px;
    background-color: rgb(124, 76, 76);
    -webkit-transition: .4s;
    transition: .4s;
}

.switch input:checked + .slider {
    background-color: rgb(124, 76, 76);
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px rgb(124, 76, 76);
}

.switch input:checked + .slider:before {
    -webkit-transform: translateX(42px);
    -ms-transform: translateX(42px);
    transform: translateX(42px);
    background-color: white;
}

.switch input:disabled + .slider {
    background-color: rgb(160, 160, 160);
}

/* Rounded sliders */
.switch .slider.round {
    border-radius: 34px;
}

.switch .slider.round:before {
    border-radius: 50%;
}

/* End of SWITCH ICON styles */

#orders-page .order {
    padding: 50px;
    margin: 50px 0;
    background-color: rgba(0, 0, 0, .15);
    border-radius: 10px;
}

#orders-page .order h1,
#orders-page .order h2 {
    margin-bottom: 1.5em;
}

#orders-page small {
    color: inherit;
}

#orders-page small span {
    font-size: .7em;
}

#orders-page .order h1 {
    text-align: center;
}

#orders-page #header-summary > * {
    text-align: center;
}

#orders-page #header-summary > *,
#orders-page #order-details .detail {
    margin-bottom: 3em;
}

#orders-page #tracking-ref {
    font-weight: 400;
}

#orders-page #tracking-ref #link-to-add-btn {
    display: block;
    margin: 0 auto;
}

#orders-page #order-items-table td {
    width: 25%;
}

#orders-page #order-items-table td ul {
    padding-left: 12px;
}

@media (max-width: 575px) {
    #orders-page .order {
        padding: 50px 15px;
    }

    #orders-page #header-summary > * {
        text-align: left;
    }
}

@media (max-width: 767px) {
    #orders-page .order h1 span {
        display: block;
        font-size: 16px;
        margin-top: 1em;
    }
}

.event-item {
    margin-bottom: 80px;
    text-align: center;
}

.event-item .max-width {
    max-width: 950px;
}

.event-title-row {
    border-bottom: 5px solid rgba(255, 255, 255, .5);
    margin-bottom: 20px;
    padding-bottom: 75px;
}

.event-title-row h1 {
    margin-bottom: 0;
    font-size: 2em;
}

.event-image-container {
    margin-top: -80px;
    margin-bottom: 30px;
}

.event-image {
    display: table;
    margin: 0 auto;
    max-width: 100%;
    max-height: 400px;
    border-radius: 10px;
}

.event-checkout-modal-btn {
    margin-top: 1em;
    margin-bottom: 2em;
}

.event-info-wrapper {
    padding: 0 10px;
    margin-bottom: 2em;
    max-height: 230px;
    overflow: auto;
    transition: .5s max-height;
}

.event-info-wrapper + .event-info-toggle span {
    display: none;
    border-bottom: 1px solid white;
    padding: 10px;
    cursor: pointer;
}

.event-info-wrapper:not(.expanded) + .event-info-toggle span.expand {
    display: inline;
}

.event-info-wrapper.expanded + .event-info-toggle span.collapse {
    display: inline;
}

.event-info p {
    text-align: left;
    margin: 0;
    padding-bottom: 10px;
}

.event-key-info > span {
    font-weight: 600;
}

.event-key-info > span:not(:last-child) {
    margin-right: 10px;
}

@media (min-width: 576px) {
    .event-title-row {
        padding-bottom: 20px;
    }

    .event-image {
        max-height: 500px;
    }
}

#new-review-form > fieldset > label:nth-last-of-type(1),
#new-review-form > fieldset > label:nth-last-of-type(1) + fieldset {
    display: none;
}

#subscription-page #summary {
    text-align: center;
    padding: 0 30px;
}

#subscription-options {
    margin: 0 auto 2em;
    padding: 30px 0;
    max-width: 900px;
}

#subscription-options .subscription-opt {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .15);
    max-width: 250px;
    margin: 0 auto 50px;
}

#subscription-options .subscription-opt .sub-label {
    width: 80%;
    padding: 5px;
    background-color: rgb(240, 230, 140);
    color: rgb(124, 76, 76);
    font-weight: 700;
    margin: -35px auto 2em;
    border-radius: 5px;
}

#subscription-options .subscription-opt .info {
    margin: 1.5em 0 1em;
    max-height: 5em;
    overflow: auto;
}

#subscription-options .subscription-opt .select-radio-opt {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
}

#subscription-options .subscription-opt .select-btn {
    position: relative;
    background-color: transparent;
    color: rgb(240, 230, 140);
    font-size: 1.5em;
    padding: 5px 15px;
    margin: 0;
}

#subscription-options .subscription-opt .select-radio-opt:not(:checked) + .select-btn span:last-child {
    display: none;
}

#subscription-options .subscription-opt .select-radio-opt:checked + .select-btn span:first-child {
    display: none;
}
