h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.75em;
}

li {
    margin-bottom: .4em;
}

body {
    overflow-x: hidden;
}

header .inner-header {
    padding-top: 30px;
    padding-bottom: 30px;
}

header .link-icon {
    font-size: 1.5em;
}

header .link-icon:not(:first-child) {
    margin-left: 10px;
}

.header-content-section:nth-child(2) {
    text-align: center;
}

.header-content-section:nth-child(3) {
    text-align: right;
}

#nav-toggle {
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 40;
}

nav {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 30px;
    background-image: linear-gradient(to right, rgb(124, 76, 76) 20%, rgba(124, 76, 76, .85));
    overflow: auto;
    z-index: 1000;
    text-align: left;
}

nav a.link {
    display: block;
    margin: 0 auto 1.5em;
    text-align: center;
    max-width: 50%;
}

nav .sub-list {
    display: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 1.5em;
    margin-bottom: 1.5em;
}

#nav-close-icon {
    position: absolute;
    left: 50%;
    font-size: 1.5em;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 0 30px 30px 30px;
}

#banner-1 {
    position: relative;
    text-align: center;
    background-color: rgba(0, 0, 0, .15);
    text-transform: uppercase;
}

#banner-1 .item {
    padding: 10px 0;
}

main {
    min-height: 70vh;
}

section {
    position: relative;
    margin: 30px 0;
}

.section-padding {
    padding: 60px 30px;
}

.textbody {
    max-width: 700px;
    margin: 0 auto;
    line-height: 2;
}

.textbody h1 {
    text-transform: uppercase;
    text-align: center
}

.bg-underlay {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg-underlay.bg-body {
    position: fixed;
}

.bg-underlay.bg-body:before {
    position: absolute;
    display: table;
    content: " ";
    width: 100%;
    height: 100%;
    background-color: rgba(124, 76, 76, 0.9);
    /* background-image: linear-gradient(to bottom, rgba(133, 64, 56, .8), rgba(133, 64, 56, .7)); */
    z-index: 5;
}

.bg-underlay video, .bg-underlay > div {
    position: absolute;
    left: 50%;
    height: inherit;
    -webkit-filter: saturate(3) hue-rotate(-40deg) brightness(1.5);
    -webkit-transform: translateX(-50%);
    filter: saturate(3) hue-rotate(-40deg) brightness(1.5);
    transform: translateX(-50%);
}

#loadscreen {
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    width: 100vw;
    height: 100vh;
    background-color: rgb(124, 76, 76);
    z-index: 10000;
}

#loadscreen .content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#loadscreen .spinner-wrapper {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
}

#loadscreen .spinner {
    width: inherit;
    height: inherit;
    border: 2px solid rgb(240, 230, 140);
    border-top: none;
    border-radius: 100%;
    -webkit-animation: spinner 1s infinite linear;
    animation: spinner 1s infinite linear;
}

@-webkit-keyframes spinner { to { transform: rotate(360deg) } }
@keyframes spinner { to { transform: rotate(360deg) } }

header, main, footer {
    position: relative;
}

footer {
    margin-top: 2em;
    padding: 3em 0;
    background-color: rgba(0, 0, 0, .5);
}

footer .row:not(:last-child) {
    margin-bottom: 3em;
}

footer #footer-links .link {
    display: block;
    margin-bottom: 1em;
}

footer #accepted-cards .card-icon {
    font-size: 3em;
    margin-bottom: 10px;
}

footer #accepted-cards .card-icon:not(:last-child) {
    margin-right: 10px;
}

footer #copyright {
    text-align: center;
}

section .content-layer {
    position: relative;
    z-index: 5;
}

section .bg-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .87;
}

section .bg-layer:before {
    position: absolute;
    display: table;
    content: " ";
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgb(124, 76, 76) 30px, rgba(124, 76, 76, .8) 20%, transparent);
    z-index: 1;
}

section .bg-layer .bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

@media (min-width: 768px) {
    section .bg-layer:before {
        background-image: linear-gradient(135deg, rgba(124, 76, 76, .9) 20%, transparent);
    }
}

@media (min-width: 992px) {
    section .bg-layer .bg-img {
        background-attachment: fixed;
    }
}

section .text {
    padding: 0 10px 20px;
}

section .text h1 {
    color: rgb(240, 230, 140);
}

section .media-wrapper {
    /* height: 500px; */
    padding: 0;
    margin: 0 -15px;
}

section .media-wrapper .main-media.large {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

section .media-wrapper .main-media.small {
    position: absolute;
    top: 50%;
    height: 250px;
    -webkit-transform: translate(-100%, -20%);
    transform: translate(-100%, -20%);
    border-radius: 10px;
}

@media (min-width: 768px) {
    section .media-wrapper .main-media {
        border-radius: 10px;
    }

    section .text {
        position: relative;
        top: 200px;
        padding: 50px 60px 50px 120px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    section .media-wrapper {
        margin: 0;
    }

    section .media-wrapper .main-media {
        box-shadow: 0 10px 30px rgba(0, 0, 0, .4);
    }

    section .media-wrapper .main-media.small {
        -webkit-transform: translate(-70%, -50%);
        transform: translate(-50%, -50%);
        height: 320px;
    }
}

@media (max-width: 767px) {
    section .text-wrapper {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        background-image: linear-gradient(to bottom, rgb(124, 76, 76) 20px, rgba(124, 76, 76, .75));
        box-shadow: 0 25px 30px 20px rgba(124, 76, 76, .75)
    }
}

.section-label > * {
    position: relative;
}

.section-label .label-text {
    color: black;
    text-shadow: none;
}

.section-label .label-bg {
    position: absolute;
    top: -40px;
    width: 380px;
    height: 120px;
    background-position: 0 center;
    background-size: auto 140%;
    background-repeat: no-repeat;
    background-image: url("https://res.cloudinary.com/natzen/image/upload/v1598991355/cocohoney/site-content/gold-brush-stroke.png");
    -webkit-filter: brightness(2) grayscale(0.6);
    filter: brightness(2) grayscale(0.6);
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
}

.section-overlapped {
    margin-top: -50px;
    z-index: 5;
}

@media (min-width: 768px) {
    .section-overlapped {
        margin-bottom: -50px;
    }
}

#overview {
    margin-top: 0;
    min-height: 80vh;
}

#adverts-section {
    background-image: linear-gradient(45deg, rgba(240, 230, 140, .9), rgba(240, 230, 140, .3));
    color: rgb(124, 76, 76);
    text-align: center;
    padding: 100px 0;
}

#adverts-section #reviews-carousel {
    margin: 0 auto;
    max-width: 900px;
}

#adverts-section .review {
    font-weight: 500;
    text-align: left;
}

#adverts-section .review .read-more-link {
    text-decoration: underline;
    margin-left: 10px;
}

@media (min-width: 768px) {
    #adverts-section .lg-text {
        font-size: 2em;
    }
}

.thumb-container {
    position: relative;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 20px;
    z-index: 9;
}

.thumb-container.no-wrap {
    white-space: nowrap;
}

.thumb-container::-webkit-scrollbar {
    display: none;
}

.thumb-container.no-wrap .thumb {
    display: inline-block;
    width: 230px;
    max-width: 500px;
    margin-bottom: 0;
    margin-right: 50px;
}

.thumb-container.no-wrap .thumb:last-child {
    margin-right: 150px;
}

.thumb {
    margin-bottom: 2.5em;
}

.thumb .thumb-inner {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .4);
    overflow: hidden;
}

.thumb .thumb-img {
    position: relative;
    height: 240px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    margin: -10px -10px 10px;
}

.thumb .thumb-img .sale-ribbon {
    position: absolute;
    bottom: 37px;
    right: -100px;
    width: 300px;
    -webkit-transform-origin: center;
    -webkit-transform: rotate(-45deg);
    transform-origin: center;
    transform: rotate(-45deg);
    background-color: rgb(240, 230, 140);
    color: rgb(124, 76, 76);
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}

.thumb .thumb-info {
    white-space: normal;
    padding: 10px 0;
    font-weight: 500;
    text-align: center;
}

.thumb .thumb-info .product-price del {
    font-size: .8em;
    opacity: .5;
}

.add-to-cart-btn {
    width: 50%;
    background-color: transparent;
    color: inherit;
    font-size: 2.5em;
}

.thumb .add-to-cart, .thumb .add-to-cart-btn {
    margin: 0;
}

.thumb .add-to-cart-btn {
    padding-top: 0;
    padding-bottom: 0;
}

@media (min-width: 768px) {
    .add-to-cart-btn {
        font-size: 1.5em;
    }
}

.add-to-cart-btn .icon + span {
    margin-left: 5px;
}

#about-page .info-img {
    max-width: 400px;
    text-align: center;
    margin: 2em auto;
}

#about-page .info-img img {
    border-radius: 10px;
    width: 100%;
}

.form-container {
    padding: 2em 0;
}

form {
    max-width: 600px;
    margin: 0 auto 2em;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .5);
    padding: 30px;
}

form legend {
    text-align: center;
    border: 0;
    padding: 1em 0;
    color: inherit;
}

form legend + .note {
    display: block;
    text-align: center;
    margin-bottom: 3em;
}

form legend + .note a {
    text-decoration: underline;
}

form.minimal {
    border-radius: 0;
    background-color: transparent;
    padding: 0;
}

input, textarea, select {
    width: 100%;
    margin-bottom: 2em;
    background-color: transparent;
    -webkit-transition-property: background-color, border-width, opacity;
    -webkit-transition-duration: .5s;
    transition-property: background-color, border-width, opacity;
    transition-duration: .5s;
    font-weight: 500;
}

input, textarea, select, button {
    border: none;
    border-radius: 5px;
}

input[type=text],
input[type=password],
input[type=number],
input[type=url],
input[type=email],
input[type=date],
input[type=tel],
textarea, select {
    padding: 10px;
    border-bottom: 1px solid white;
    border-radius: 0;
    outline: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:not([type=submit]):disabled, textarea:disabled, select:disabled {
    background-color: rgba(0, 0, 0, .4);
    border-width: 0;
    border-radius: 5px;
}

input[type=checkbox], input[type=radio] {
    width: auto;
    margin-right: 10px;
    margin-bottom: .5em;
}

input[type=submit], button {
    width: auto;
    background-color: rgb(240, 230, 140);
    color: rgb(124, 76, 76);
}

input[type=submit], button[type=submit] {
    display: table;
    padding: 15px 30px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
}

select, textarea {
    border: 1px solid white;
    border-radius: 5px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select option {
    color: black;
}

textarea {
    min-width: 100%;
    max-width: 100%;
}

button {
    padding: 8px 10px;
    margin-bottom: 1em;
    -webkit-transition: .5s opacity;
    transition: .5s opacity;
    border: none;
}

button.minimal {
    background-color: transparent;
    color: inherit;
}

button + button {
    margin-left: 10px;
}

label {
    font-weight: 300;
}

label span {
    font-size: .8em;
    opacity: .5;
}

label .dropdown-arrow {
    margin-left: 5px;
}

.input-checkbox {
    margin-bottom: .5em;
}

.input-checkbox img,
.input-checkbox video {
    height: 70px
}

#cart-icon {
    position: fixed;
    display: block;
    right: 0;
    bottom: 20px;
    text-align: center;
    padding: 10px 15px;
    border-radius: 7px 0 0 7px;
    font-size: 2em;
    -webkit-transform: translateX(100%);
    -webkit-transition: .5s transform;
    transform: translateX(100%);
    transition: .5s transform;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
    z-index: 500;
}

#cart-icon.visible {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.cart-item {
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    max-width: 800px;
}

.cart-item .item-img {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 200px;
}

.cart-item .item-img.item-img-label {
    background-color: rgba(0, 0, 0, .15);
}

.cart-item .item-img.item-img-label > span {
    position: relative;
    display: block;
    top: 50%;
    width: 100%;;
    text-align: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cart-item .item-info > * {
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (max-width: 767px) {
    .cart-item > * {
        margin-bottom: 1.5em;
    }

    .cart-item .item-name, .cart-item .item-price {
        text-align: center;
    }
}

.cart-item .item-qty-control {
    font-weight: bold;
    text-align: center;
}

.cart-item .item-qty-control form, .cart-item .item-qty-control button {
    margin-bottom: 0;
}

.cart-item .item-qty-control button {
    padding: 10px 20px
}

.cart-item .item-qty-control button:not(.remove-btn) {
    background-color: transparent;
    color: white;
}

@media (min-width: 768px) {
    .cart-item .item-qty-control .remove-btn {
        margin-top: 20px;
    }
}

#price-total {
    font-size: 1.5em;
}

/* LOOKBOOK GALLERY SLIDER STYLES */

@-webkit-keyframes slide-animate {
    from { -webkit-transform: scale(0); transform: scale(0) }
    to { -webkit-transform: scale(1); transform: scale(1) }
}

@keyframes slide-animate {
    from { -webkit-transform: scale(0); transform: scale(0) }
    to { -webkit-transform: scale(1); transform: scale(1) }
}
  
.slider-container {
    position: relative;
    margin: 3em auto 5em;
    max-width: 800px;
    height: 500px;
    overflow-x: hidden;
}

.slider-container .bullet-container {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-container .bullet-container .bullet {
    margin-right: 14px;
    height: 15px;
    width: 15px;
    border-radius: 30%;
    background-color: white;
    opacity: 0.5;
    cursor: pointer;
}

.slider-container .bullet-container .bullet:last-child {
    margin-right: 0px;
}

.slider-container .bullet-container .bullet.active {
    opacity: 1;
}

.slider-container .slider-content {
    position: relative;
    left: 50%;
    height: 90%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.slider-container .slider-content .slider-single {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: z-index 0ms 250ms;
    transition: z-index 0ms 250ms;
}

.slider-container .slider-content .slider-single .slider-single-image {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: 500ms;
    transition: 500ms;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.slider-container .slider-content .slider-single .slider-single-title {
    display: block;
    float: left;
    margin: 16px 0 0 20px;
    font-size: 1.5em;
    -webkit-transition: 500ms;
    transition: 500ms;
    opacity: 0;
}

.slider-container .slider-content .slider-single.preactivede .slider-single-image {
    transform: translateX(-50%) scale(0);
}

.slider-container .slider-content .slider-single.preactive {
    z-index: 1;
}

.slider-container .slider-content .slider-single.preactive .slider-single-image {
    opacity: 0.3;
    -webkit-transform: translateX(-40%) scale(0.8);
    transform: translateX(-40%) scale(0.8);
}

.slider-container .slider-content .slider-single.preactive .slider-single-title {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
}

.slider-container .slider-content .slider-single.proactive {
    z-index: 1;
}

.slider-container .slider-content .slider-single.proactive .slider-single-image {
    opacity: 0.3;
    -webkit-transform: translateX(40%) scale(0.8);
    transform: translateX(40%) scale(0.8);
}

.slider-container .slider-content .slider-single.proactive .slider-single-title {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
}

.slider-container .slider-content .slider-single.proactivede .slider-single-image {
    -webkit-transform: translateX(50%) scale(0);
    transform: translateX(50%) scale(0);
}

.slider-container .slider-content .slider-single.active {
    z-index: 2;
}

.slider-container .slider-content .slider-single.active .slider-single-image {
    opacity: 1;
    -webkit-transform: translateX(0%) scale(1);
    transform: translateX(0%) scale(1);
}

.slider-container .slider-content .slider-single.active .slider-single-title {
    opacity: 1;
    transition-delay: 200ms;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

.slider-container .slider-nav {
    position: absolute;
    z-index: 3;
    display: block;
    top: 50%;
    color: #ffffff;
    font-size: 3em;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 20px 15px;
    margin-right: -2px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.slider-container .slider-left {
    right: 85%;
}

.slider-container .slider-right {
    left: 85%;
}

.slider-container .not-visible {
    display: none !important;
}

/* end of LOOKBOOK GALLERY SLIDER STYLES */

.nav.nav-pills {
    display: table;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.nav.nav-pills > li {
    float: none;
    display: inline-block;
}

.nav.nav-pills > .active > a, .nav.nav-pills > .active > a:focus, .nav.nav-pills > .active > a:hover {
    background-color: transparent;
    border-bottom: 1px solid white;
    border-radius: 0;
    opacity: 1;
}

.nav > li > a:focus, .nav > li > a:hover {
    color: rgb(124, 76, 76);
}

#admin-page .nav-pills-container {
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: rgba(0, 0, 0, .15);
}

.info-label {
    font-size: .75em;
    margin-bottom: 2em;
}

.info-label .info-icon {
    margin-right: 5px;
    font-size: 1.2em;
}

.tab-content {
    padding-top: 2em;
    padding-bottom: 2em;
}

.section-dropdown-options {
    font-weight: bold;
    max-width: 250px;
    margin: 0 auto
}

.file-upload-container {
    display: block;
    margin-bottom: 4em;
}

#product-view-page .product-view-container {
    padding-top: 5em;
    padding-bottom: 5em;
}

#product-view-page .product-image-single {
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#product-view-page .product-image-single img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 400px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .4);
}

#product-view-page .details {
    margin-bottom: .5em;
}

#product-view-page .product-info {
    padding-top: 2em; padding-bottom: 2em;
}

#product-view-page #name {
    font-size: 1.2em;
}

#product-view-page #price {
    font-size: 2em;
    color: rgb(240, 230, 140);
}

#product-view-page #sale-label {
    margin: 2em 0 3em;
    font-weight: 500;
}

#product-view-page #sale-label span {
    padding: 10px;
    border: 2px solid white;
}

#product-view-page #extra-info {
    margin-top: 2em;
}

#product-view-page .add-to-cart-btn {
    width: 100%;
    text-align: left;
}

@media (max-width: 767px) {
    #product-view-page .product-info {
        text-align: center;
    }

    #product-view-page .add-to-cart-btn {
        width: auto;
        text-align: center;
    }
}

input.product-quantity {
    display: inline-block;
    max-width: 70px;
    border: none;
    text-align: center;
}

input.product-quantity:disabled {
    background-color: transparent;
}

.quantity-control-btn {
    background-color: transparent;
    color: white;
}

.chc .carousel-control {
    background-image: none;
}

.chc .carousel-control > .arrow {
    top: 50%;
    position: relative;
    font-size: 1.5em;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.chc .carousel-indicators li {
    border: none;
    background-color: rgba(255, 255, 255);
    opacity: .5;
}

.chc .carousel-indicators li:not(:last-child) {
    margin-right: 5px;
}

.chc .carousel-indicators .active {
    opacity: 1;
}

#faq-page .question {
    text-align: center;
    margin-bottom: -.5em;
}

#faq-page .answer {
    padding: 50px;
    background-color: rgba(0, 0, 0, .15);
    border-radius: 10px;
}

#faq-page .answer:not(:last-child) {
    margin-bottom: 5em;
}

.table-hover > tbody > tr:hover {
    background-color: rgba(0, 0, 0, .5);
    transition: .5s background-color;
}

#box-deal-page .label-text {
    color: rgba(240, 230, 140);
}

#box-deal-page .panel-group {
    max-width: none;
    margin-bottom: 4em;
}

#box-deal-page .panel {
    border: none;
}

#box-deal-page .panel,
#box-deal-page .panel-heading,
#box-deal-page .panel-body {
    background-color: transparent;
}

#box-deal-page .panel-heading {
    color: white;
    border: none;
}

#box-deal-page .panel-title {
    cursor: pointer
}

#box-deal-page .panel-title .dropdown-arrow {
    transform: rotate(180deg);
    transition: .5s transform;
}

#box-deal-page .panel-title.collapsed .dropdown-arrow {
    transform: rotate(0deg);
}

#box-deal-page .panel-body {
    padding-left: 0;
    padding-right: 0;
}

#box-deal-page input[type=checkbox] {
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 10
}

#box-deal-page .thumb-container {
    padding-left: 0;
    padding-right: 0;
}

#box-deal-page .thumb .thumb-img {
    transition: .25s box-shadow;
}

#box-deal-page .thumb .thumb-img.checked {
    box-shadow: 0 10px 20px rgb(240, 230, 140);
}

#box-deal-page #submit-btn {
    position: fixed;
    z-index: 100;
    left: 15px;
    bottom: 2em;
    margin-bottom: 0;
}

#box-deal-page .header {
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    margin: 0;
}

#box-deal-page .header .column {
    padding-top: 30px;
    padding-bottom: 30px;
}

#box-deal-page .header .text-container .text-content {
    text-align: center;
}

#box-deal-page .header .text-container .text-content h1 {
    text-transform: uppercase;
}

#box-deal-page .header .img-container img {
    width: 100%;
    border-radius: 10px;
}

@media (min-width: 768px) {
    #box-deal-page #submit-btn {
        left: auto;
    }

    #box-deal-page .header {
        height: 400px
    }

    #box-deal-page .header .container,
    #box-deal-page .header .column {
        height: 100%;
    }

    #box-deal-page .header .text-container {
        display: table;
    }


    #box-deal-page .header .text-container .text-content {
        display: table-cell;
        vertical-align: middle;
    }

    #box-deal-page .header .img-container img {
        width: auto;
        max-height: 100%;
    }
}

.star-rating {
    max-width: 200px;
    margin: 0 auto 2em;
}

.star-rating .star {
    width: 20%;
    font-size: 2em;
}

.star-rating .star input[type=radio] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
    cursor: pointer;
}

#customer-reviews-page #review-submission-link-btn {
    display: block;
    margin: 0 auto 2em;
}

#customer-reviews-page #reviews {
    margin-top: 7em;
}

#customer-reviews-page .review {
    position: relative;
    padding: 20px;
    background-color: rgba(0, 0, 0, .15);
    border-radius: 10px;
}

#customer-reviews-page .review:not(:last-child) {
    margin-bottom: 100px;
}

#customer-reviews-page .review .author-icon {
    display: table;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin: -60px 0 1em;
    background-color: rgb(80, 48, 48);
}

#customer-reviews-page .review .author-icon span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#customer-reviews-page .review .header {
    text-align: center;
    margin-bottom: .5em;
}

#customer-reviews-page .review .headline .title,
#customer-reviews-page .review .rating {
    font-size: 1.5em;
}

#customer-reviews-page .review .author-details {
    margin-top: 1em;
    margin-bottom: 1em;
    color: rgba(255, 255, 255, .5);
}

#customer-reviews-page .review .verified-badge {
    font-size: 1.2em;
    margin: 0 5px;
}

#customer-reviews-page .review .images {
    white-space: nowrap;
    overflow: auto;
    height: 200px;
    padding-bottom: 1em;
    margin-bottom: 1.5em;
}

#customer-reviews-page .review .images img {
    height: 100%;
    display: inline-block;
    margin-right: 20px;
}

#customer-reviews-page .rating-meter {
    position: relative;
    background-color: white;
    border-radius: 4px;
    height: 1.75em;
    overflow: hidden;
    margin-bottom: 1em;
}

#customer-reviews-page .rating-meter span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgb(124, 76, 76);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    line-height: 1;
    z-index: 5;
}

#customer-reviews-page .rating-meter .bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgb(240, 230, 140);
}

@media (min-width: 768px) {
    #customer-reviews-page .review .headline,
    #customer-reviews-page .review .author-name {
        text-align: left;
    }

    #customer-reviews-page .review .rating {
        text-align: right;
        line-height: 1;
    }

    #customer-reviews-page .review .post-date {
        text-align: right;
    }
}

#account-page #banner-1 {
    display: none;
}

#account-page .profile-body {
    margin-top: 130px;
    padding: 30px 0;
    background-color: rgba(0, 0, 0, .4);
}

#account-page .profile-card {
    margin-top: -130px;
    margin-bottom: 50px;
    text-align: center;
}

#account-page .profile-picture {
    margin: 0 auto 2em;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    background-color: rgb(124, 76, 76);
    height: 200px;
    width: 200px;
}

#account-page .profile-summary .name {
    font-size: 1.5em;
}

#account-page .profile-summary .role {
    font-size: .85em;
}

#account-page .dashboard .nav.nav-pills {
    margin: 30px auto;
}

#account-page .thumb .thumb-info {
    text-align: left;
    padding: 10px;
    height: 180px;
}

#account-page .order-date {
    text-align: right;
    font-size: .75em;
    color: rgba(255, 255, 255, .75);
}

#account-page .order-summary ul {
    padding-left: 15px;
    font-weight: 300;
}

#account-page #settings-button {
    padding: 10px;
    font-weight: 300;
    font-size: .8em;
    border: 1px solid white;
}

#account-page #personal-info {
    text-align: center;
}

@media (min-width: 768px) {
    #account-page .dashboard .nav.nav-pills {
        margin: 0 auto 30px;
    }
}

@media (min-width: 992px) {
    #account-page .dashboard .nav.nav-pills {
        margin-left: 0;
    }

    #account-page #personal-info {
        text-align: left;
    }
}

.modal-backdrop {
    background-image: linear-gradient(to right, rgb(124, 76, 76) 20%, rgba(124, 76, 76, .85));
}

.modal-backdrop.in {
    opacity: 1;
}

.modal-open .modal {
    padding: 0!important;
}

.modal .modal-body {
    padding: 50px 0px;
}

.modal .modal-icons {
    position: fixed;
    right: 15px;
    top: 10px;
    font-size: 1.75em;
    overflow: hidden;
    z-index: 96;
}

.modal .modal-icons .close-view {
    margin-top: 6px;
    padding: 5px 15px;
    font-weight: 400;
    background-color: transparent;
    color: white;
    font-size: 1.3em;
}

/* SWITCH ICON styles */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 1.2em;
}

.switch span {
    opacity: 1;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 3.5px;
    background-color: rgb(124, 76, 76);
    -webkit-transition: .4s;
    transition: .4s;
}

.switch input:checked + .slider {
    background-color: rgb(124, 76, 76);
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px rgb(124, 76, 76);
}

.switch input:checked + .slider:before {
    -webkit-transform: translateX(42px);
    -ms-transform: translateX(42px);
    transform: translateX(42px);
    background-color: white;
}

/* Rounded sliders */
.switch .slider.round {
    border-radius: 34px;
}

.switch .slider.round:before {
    border-radius: 50%;
}

/* End of SWITCH ICON styles */