<form method="post" action="/discount_code/add">
    <label>ADD DISCOUNT CODE</label>
    <input type="text" name="code" id="discount_code_value" required>

    <label>SET EXPIRY DATE</label>
    <input type="date" name="expiry_date" id="discount_code_expiry_date" placeholder="YYYY/MM/DD" required>

    <input type="submit" value="SAVE">
</form>
