<form method="post" action="/admin/faqs/add">
    <label>QUESTION</label>
    <input type="text" name="question" id="question" required>

    <label>ANSWER</label>
    <textarea name="answer" id="answer" rows="10" required></textarea>

    <input type="submit" value="SAVE">
</form>
