<form method="post" action="/mailing-list/send/mail">
    <label>EMAIL</label>
    <input type="text" name="email" id="email" required>

    <label>SUBJECT</label>
    <input type="text" name="subject" id="subject" required>

    <label>MESSAGE</label>
    <textarea name="message" id="message" rows="10" required></textarea>

    <input type="submit" value="SEND">
</form>
