<ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#new-overview-img">UPLOAD</a></li>
    <li><a data-toggle="pill" href="#edit-overview-img">EDIT</a></li>
    <li><a data-toggle="pill" href="#remove-overview-img">REMOVE</a></li>
</ul>

<div class="tab-content" style="padding-top: 10px;">
    <div id="new-overview-img" class="new-form-tab tab-pane fade in active">
        <form method="post" action="/site-content/overview-images/upload" style="padding: 30px">
            <label>UPLOAD OVERVIEW IMAGE</label><br><br>
            <fieldset class="file-upload-container">
                <div class="row">
                    <div class="col-sm-6 col-xs-9"><input type="file" id="overview_image_file" accept=".jpg,.jpeg,.png,.bmp" multiple></div>
                    <input type="hidden" name="image_file">
                    <div class="col-sm-6 col-xs-3"><button type="button" class="clear-uploads" data-id="overview_image_file">CLEAR</button></div>
                    <div class="col-sm-12"><input type="url" name="image_url" id="overview_image_url" placeholder="Or enter the image URL"></div>
                </div>
            </fieldset>
            <input type="submit" value="UPLOAD">
        </form>
    </div>

    <div id="edit-overview-img" class="edit-form-tab tab-pane fade">
        <form method="post" action="/site-content/overview-images/edit" style="padding: 30px">
            <label>SELECT IMAGE <i class="dropdown-arrow fal fa-chevron-down"></i></label>
            <select name="id" id="overview_image_id">
                <option value="">-</option>
                <%_ overview_images.forEach(img => { _%>
                <option value="<%= img._id %>">Image <%= img.position %></option>
                <%_ }) _%>
            </select>

            <label>UPLOAD OVERVIEW IMAGE <span>(REPLACES CURRENT ONE)</span></label><br><br>
            <fieldset class="file-upload-container">
                <div class="row">
                    <div class="col-sm-6 col-xs-9"><input type="file" id="overview_image_file_edit" accept=".jpg,.jpeg,.png,.bmp"></div>
                    <input type="hidden" name="image_file">
                    <div class="col-sm-6 col-xs-3"><button type="button" class="clear-uploads" data-id="overview_image_file_edit">CLEAR</button></div>
                    <div class="col-sm-12"><input type="url" name="image_url" id="overview_image_url_edit" placeholder="Or enter the image URL"></div>
                </div>
            </fieldset>
            <input type="submit" value="UPLOAD">
        </form>
    </div>

    <div id="remove-overview-img" class="remove-form-tab tab-pane fade">
        <p style="text-align: center;">IN CONSTRUCTION</p>
    </div>
</div>
